// badge variant
// -----------------------------------------------------------------------------
@mixin badge-variant($text-color, $accent-color) {
  color: $text-color;
  background-color: $accent-color;
  
  @at-root {
    a#{&} {
      cursor: pointer;
      &:hover {
        color: $text-color;
        background-color: shade-color($accent-color, 1);
      }
      &:active {
        color: $text-color;
        background-color: shade-color($accent-color, 2);
      }
    }
  }
  
}
