// button variant
// -----------------------------------------------------------------------------
@mixin btn-variant($text-color, $accent-color) {
  & {
    color: $text-color;
    border-color: $accent-color;
    background-color: $accent-color;
  }

  &:hover {
    color: $text-color;
    border-color: shade-color($accent-color, 1);
    background-color: shade-color($accent-color, 1);
  }

  &:active,
  &.is-active {
    color: $text-color;
    border-color: shade-color($accent-color, 2);
    background-color: shade-color($accent-color, 2);
  }

  &.is-loading,
  &[loading] {
    
    &,
    &:active,
    &:hover {
      color: transparent;
    }

    &:after {
      border-left-color: $text-color;
      border-bottom-color: $text-color;
    }
    
  }
}


@mixin btn-outline-variant($inverse-color, $accent-color) {
  & {
    color: $accent-color;
    background-color: transparent;
    border-color: $accent-color;
  }
  
  &:hover {
    color: $inverse-color;
    background-color: shade-color($accent-color, 1);
    border-color: shade-color($accent-color, 1);
  }
  
  &:active,
  &.is-active {
    color: $inverse-color;
    border-color: shade-color($accent-color, 2);
      background-color: shade-color($accent-color, 2);
  }

  &.is-loading,
  &[loading] {
    
    &,
    &:active,
    &:hover {
      color: transparent;
      background-color: transparent;
    }

    &:after {
      border-left-color: $accent-color;
      border-bottom-color: $accent-color;
    }

  }
}
