// note variant
// -----------------------------------------------------------------------------
@mixin note-variant($text-color, $border-color, $background-color) {
  color: $text-color;
  border-color: $border-color;
  background-color: $background-color;

  a {
    color: shade-color($text-color, 2);
    &:hover {
      color: shade-color($text-color, 2);
    }
  }
}
