h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;

  small {
    color: $grey-mute;
  }
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

p {
  margin: 0 0 $spacing-stack-base 0;
}

ins,
mark {
  background: #ffa;
}

hr {
  display: block;
  padding: 0;
  margin: $spacing-stack-lg 0;
  height: 0;
  border: 0;
  border-top: 1px solid $grey-weak;
  box-sizing: content-box;
}

// Link
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// List
ul, ol {
  margin: 0 0 $spacing-stack-base 0;
  padding: 0 0 0 2em;
  ul, ol {
    margin-bottom: $spacing-stack-sm;
  }
}

dl {
  margin: 0 0 $spacing-stack-base 0;
}

dt {
  font-weight: bold;
  margin: $spacing-stack-sm 0 0 0;
  &:first-child {
    margin-top: 0;
  }
}

dd {
  margin-left: $spacing-stack-base;
}

// Blockquote
blockquote {
  border-left: 3px solid $grey-weak;
  padding: $spacing-squish-xl;
  margin: 0 0 $spacing-stack-base 0;

  cite {
    color: $grey-mute;
  }

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// Code
code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "Source Code Pro", "Hack", "Monaco", "Inconsolata", monospace;
  line-height: $line-height-normal;
}

code {
  background: #f5f7fa;
  color: #ed6c63;
  font-size: $text-size-sm;
  font-weight: normal;
  padding: 1px 3px 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: $spacing-stack-base;
  padding: $spacing-inset-md;
  background: #f5f7fa;
  color: #69707a;
  font-size: $text-size-sm;
  overflow: auto;

  code {
    color: inherit;
    font-size: inherit;
    padding: 0;
    border-radius: 0;
    white-space: pre-wrap;
    background: transparent;
  }
}

sub,
sup {
  left: 0.1em;
}
