/*
Markup:
<div class="box {{modifier}}">
  <header class="box__header">Box Title</header>
  <div class="box__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nisi?
  </div>
</div>
*/

// Block
.box {
  margin-bottom: $box-margin-bottom;
  border-radius: $box-border-radius;
}

// Elements
.box__header {
  color: $box-header-color;
  font-size: $font-size-base;
  line-height: 1.2;
  padding: $box-padding-y $box-padding-x;
  border: $box-border-width solid $box-border-color;
  border-radius: $box-border-radius $box-border-radius 0 0;
  background-color: $box-header-bg;
}

.box__body {
  border: $box-border-width solid $box-border-color;
  border-top: 0;
  padding: $box-padding-x;
  border-radius: 0 0 $box-border-radius $box-border-radius;
  background-color: $box-body-bg;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// Modifiers
@each $modifier, $value in $box-palette {
  .box--#{$modifier} {
    @include box-variant(map-get($value, 'text'), map-get($value, 'border'), map-get($value, 'bg'))
  }
}
