/* ## Breadcrumb
---------------------------------*/
// Block
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $muted-color;
  @include clearfix;
}

// Elements
.breadcrumb__item {
  float: left;
  &:nth-child(n+2) {
    &:before {
      content: '/';
      padding-left: 8px;
      padding-right: 8px;
      color: $muted-color;
    }
  }
}

.breadcrumb__link {
  color: $text-color;
}
