/* ## Box
---------------------------------*/
$box-border-width: $component-border-width !default;
$box-border-radius: $component-border-radius-md !default;
$box-margin-bottom: $spacing-stack-lg !default;
$box-title-size: $text-size-base !default;
$box-header-padding: $spacing-squish-md !default;
$box-inner-padding: $spacing-square-md !default;
$box-bg: $component-bg !default;

.box {
  margin-bottom: $box-margin-bottom;
  border-radius: $box-border-radius;
}

.box__header {
  color: $grey-dark;
  font-size: $box-title-size;
  line-height: $line-height-tight;
  padding: $box-header-padding;
  border: $box-border-width solid $grey-thin;
  border-radius: $box-border-radius $box-border-radius 0 0;
  background-color: $grey-light;

  &:only-child {
    border-radius: $box-border-radius;
  }
}

.box__body {
  border-style: solid;
  border-color: $grey-thin;
  border-width: 0 $box-border-width $box-border-width $box-border-width;
  border-radius: 0 0 $box-border-radius $box-border-radius;
  background-color: $box-bg;

  &:only-child {
    border-width: $box-border-width;
    border-radius: $box-border-radius;
  }
}

.box__inner {
  padding: $box-inner-padding;

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

}

@each $name, $color in $theme-colors {
  .box.box--#{$name} {
    @include box-variant(
      $background: tint-color($color, 11),
      $border: tint-color($color, 9),
      $color: shade-color($color, 6)
    );
  }
}

// accordion
details.box {
  > summary.box__header {
    cursor: pointer;
    border-bottom-left-radius: $box-border-radius;
    border-bottom-right-radius: $box-border-radius;
    appearance: none;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    > summary.box__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
