/* ## Box
---------------------------------*/
$box-border-width: 1px;

.box {
  margin-bottom: $spacing-stack-lg;
  border-radius: $border-radius-base;
}

.box__header {
  color: $grey-base;
  font-size: $text-size-base;
  line-height: $line-height-tight;
  padding: $spacing-squish-lg;
  border: $box-border-width solid $grey-thin;
  border-radius: $border-radius-base $border-radius-base 0 0;
  background-color: $grey-light;

  &:only-child {
    border-radius: $border-radius-base;
  }
}

.box__body {
  border-style: solid;
  border-color: $grey-thin;
  border-width: 0 $box-border-width $box-border-width $box-border-width;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  background-color: $white;

  &:only-child {
    border-width: $box-border-width;
    border-radius: $border-radius-base;
  }
}

.box__inner {
  padding: $spacing-inset-base;

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

}

@each $modifier, $value in $box-palette {
  .box--#{$modifier} {
    @include box-variant(map-get($value, 'text'), map-get($value, 'border'), map-get($value, 'bg'))
  }
}

// accordion
details.box {
  > summary.box__header {
    cursor: pointer;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    appearance: none;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    > summary.box__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
