/* ## Breadcrumb
---------------------------------*/
$breadcrumb-gutter: $spacing-stack-md !default;
$breadcrumb-color: $grey-mute !default;
$breadcrumb-gap-color: $grey-thin !default;

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $breadcrumb-color;
  @include clearfix;
}

.breadcrumb__item {
  float: left;
  color: $breadcrumb-color;

  &:nth-child(n+2) {
    &:before {
      content: '\0002f';
      padding-left: $breadcrumb-gutter;
      padding-right: $breadcrumb-gutter;
      color: $breadcrumb-gap-color;
    }
  }
}
