/* ## List
---------------------------------*/
$list-bg: $component-bg !default;
$list-margin-bottom: $spacing-stack-md !default;
$list-padding-sm: $spacing-squish-xs !default;
$list-padding-md: $spacing-squish-sm !default;
$list-padding-lg: $spacing-squish-lg !default;
$list-border-width: $component-border-width !default;
$list-border-radius-sm: $component-border-radius-sm !default;
$list-border-radius-md: $component-border-radius-md !default;
$list-border-radius-lg: $component-border-radius-lg !default;
$list-border-color: $grey-weak !default;
$list-hover-color: $grey-light !default;

.list {
  position: relative;
  padding: 0;
  margin: 0 0 $list-margin-bottom 0;
  list-style: none;
}

.list__item,
.list__link {
  position: relative;
  display: block;
  padding-top: nth($list-padding-md, 1);
  padding-bottom: nth($list-padding-md, 1);
  background-color: $list-bg;

  &:not(:first-child) {
    border-top: 1px solid $list-border-color;
  }

}

.list__link {
  cursor: pointer;
  color: inherit;

  &:hover {
    background-color: $list-hover-color;
  }
}

.list--inset {
  .list__item,
  .list__link {
    padding-left: nth($list-padding-md, 2);
    padding-right: nth($list-padding-md, 2);
  }
}

.list--bordered {
  .list__item,
  .list__link {
    padding-left: nth($list-padding-md, 2);
    padding-right: nth($list-padding-md, 2);
    border: $list-border-width solid $list-border-color;
    margin-bottom: (0 - $list-border-width);

    &:first-child {
      border-top-left-radius: $list-border-radius-md;
      border-top-right-radius: $list-border-radius-md;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: $list-border-radius-md;
      border-bottom-right-radius: $list-border-radius-md;
    }
  }
}

.list--sm {
  .list__item,
  .list__link {
    padding-top: nth($list-padding-sm, 1);
    padding-bottom: nth($list-padding-sm, 1);
  }

  &.list--bordered,
  &.list--inset {
    .list__item,
    .list__link {
      padding-left: nth($list-padding-sm, 2);
      padding-right: nth($list-padding-sm, 2);

      &:first-child {
        border-top-left-radius: $list-border-radius-sm;
        border-top-right-radius: $list-border-radius-sm;
      }
  
      &:last-child {
        margin-bottom: 0;
        border-bottom-left-radius: $list-border-radius-sm;
        border-bottom-right-radius: $list-border-radius-sm;
      }
    }
  }
}

.list--lg {
  .list__item,
  .list__link {
    padding-top: nth($list-padding-lg, 1);
    padding-bottom: nth($list-padding-lg, 1);
  }

  &.list--bordered,
  &.list--inset {
    .list__item,
    .list__link {
      padding-left: nth($list-padding-lg, 2);
      padding-right: nth($list-padding-lg, 2);

      &:first-child {
        border-top-left-radius: $list-border-radius-lg;
        border-top-right-radius: $list-border-radius-lg;
      }
  
      &:last-child {
        margin-bottom: 0;
        border-bottom-left-radius: $list-border-radius-lg;
        border-bottom-right-radius: $list-border-radius-lg;
      }
    }
  }
}
