/* ## Badge
---------------------------------*/
$badge-border-radius: $shape-border-radius-md !default;
$badge-empty-size: 8px !default;

$badge-font-size-sm: $text-meta-sm !default;
$badge-line-height-sm: round-line-height($badge-font-size-sm, 1.5) !default;
$badge-padding-sm: 0 .5em !default;

$badge-font-size-md: $text-meta-sm !default;
$badge-line-height-md: round-line-height($badge-font-size-sm, 2) !default;
$badge-padding-md: 0 .75em !default;

$badge-font-size-lg: $text-meta-md !default;
$badge-line-height-lg: round-line-height($badge-font-size-sm, 2) !default;
$badge-padding-lg: 0 .75em !default;

.badge {
  display: inline-flex;
  align-items: center;
  padding: $badge-padding-md;
  font-size: $badge-font-size-md;
  line-height: $badge-line-height-md;
  text-align: center;
  white-space: nowrap;
  border-radius: $badge-border-radius;
  text-overflow: ellipsis;
  overflow: hidden;

  @include badge-variant($grey-light);

  &:empty {
    min-width: auto;
    width: $badge-empty-size;
    height: $badge-empty-size;
    padding: 0;
  }
}

// size modifiers
.badge.badge--sm {
  font-size: $badge-font-size-sm;
  line-height: $badge-line-height-sm;
  padding: $badge-padding-sm;
}

.badge.badge--lg {
  font-size: $badge-font-size-lg;
  line-height: $badge-line-height-lg;
  padding: $badge-padding-lg;
}

// variant modifiers
.badge.badge--pill {
  border-radius: 1993px;
}

.badge.badge--black {
  @include badge-variant($black);
}

.badge.badge--dark {
  @include badge-variant($grey-dark);
}

.badge.badge--white {
  @include badge-variant($white);
}

@each $name, $color in $theme-colors {
  .badge.badge--#{$name} {
    @include badge-variant($color);
  }
}

// position modifiers
.badge.badge--lt {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.badge.badge--rt {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.badge.badge--bl {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.badge.badge--br {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
