/* ## Button
---------------------------------*/
$btn-border-radius: $component-border-radius-md !default;
$btn-border-width: $component-border-width !default;
$btn-line-height: $line-height-normal !default;
$btn-font-size-sm: $text-size-sm !default;
$btn-font-size-md: $text-size-md !default;
$btn-font-size-lg: $text-size-lg !default;
$btn-padding-sm: $spacing-squish-xs !default;
$btn-padding-md: $spacing-squish-sm !default;
$btn-padding-lg: $spacing-squish-md !default;
$btn-height-computed: $btn-font-size-md * $btn-line-height + 2 * nth($btn-padding-md, 1)  + 2 * $btn-border-width;

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: $btn-padding-md;
  font-size: $btn-font-size-md;
  line-height: $line-height-normal;
  height: $btn-height-computed;
  min-width: $btn-height-computed;
  border-width: $btn-border-width;
  border-style: solid;
  border-radius: $btn-border-radius;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  background: none;
  box-shadow: none;
  appearance: none;

  &.is-loading {
    color: transparent;
    cursor: not-allowed;

    &:after {
      animation: spin-around 500ms infinite linear;
      border: 0.125em solid transparent;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -.5em;
      margin-top: -.5em;
    }
  }

  @include btn-variant(
    $background: $component-bg,
    $border: $grey-thin,
    $color: $grey-dark,
    $hover-background: $grey-light,
    $hover-border: $grey-thin,
    $hover-color: $grey-dark,
    $active-background: darken($grey-light, 5%),
    $active-border: darken($grey-thin, 5%),
    $active-color: $grey-dark
  );

  &[disabled],
  fieldset[disabled] & {
    opacity: .3;
    cursor: not-allowed;
  }

}

.btn.btn--link {
  text-decoration: underline;
  @include btn-variant(
    $background: transparent,
    $border: transparent,
    $color: $grey-dark,
    $hover-background: $grey-light,
    $hover-border: $grey-light,
    $hover-color: $grey-dark,
    $active-background: darken($grey-light, 5%),
    $active-border: darken($grey-light, 5%),
    $active-color: $grey-dark
  );
}

.btn.btn--icon {
  width: $btn-height-computed;
  height: $btn-height-computed;
  padding: 0;
  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn.btn--black {
  @include btn-variant($black);
  &.btn--outline {
    @include btn-outline-variant($black);
  }
}

.btn.btn--dark {
  @include btn-variant($grey-dark);
  &.btn--outline {
    @include btn-outline-variant($grey-dark);
  }
}

.btn.btn--light {
  @include btn-variant($grey-light);
  &.btn--outline {
    @include btn-outline-variant($grey-light);
  }
}

.btn.btn--white {
  @include btn-variant($white);
  &.btn--outline {
    @include btn-outline-variant($white);
  }
}

@each $name, $color in $theme-colors {
  .btn.btn--#{$name} {
    @include btn-variant($color);
    &.btn--outline {
      @include btn-outline-variant($color);
    }
  }
}

.btn.btn--sm {
  $btn-height-computed: $btn-font-size-sm * $btn-line-height + 2 * nth($btn-padding-sm, 1)  + 2 * $btn-border-width;

  font-size: $btn-font-size-sm;
  border-radius: $btn-border-radius;
  padding: $btn-padding-sm;
  height: $btn-height-computed;
  min-width: $btn-height-computed;

  &.btn--icon {
    width: $btn-height-computed;
  }
}

.btn.btn--lg {
  $btn-height-computed: $btn-font-size-lg * $btn-line-height + 2 * nth($btn-padding-lg, 1)  + 2 * $btn-border-width;

  font-size: $btn-font-size-lg;
  border-radius: $btn-border-radius;
  padding: $btn-padding-lg;
  height: $btn-height-computed;
  min-width: $btn-height-computed;

  &.btn--icon {
    width: $btn-height-computed;
  }
}

.btn.btn--loose {
  padding-left: 2em;
  padding-right: 2em;
}

.btn.btn--block {
  display: block;
  width: 100%;
}

/* ## Button Group
---------------------------------*/
.btn-group {
  display: inline-flex;

  .btn {
    flex: 1 0 auto;

    &.is-active {
      z-index: 15;
    }

    &:not(:first-of-type) {
      margin-left: - $btn-border-width;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-of-type) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  &--block {
    display: flex;
    width: 100%;
  }
}

@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
