/* ## Note
---------------------------------*/
$note-border-radius: $component-border-radius-md !default;
$note-padding: $spacing-square-md !default;
$note-margin-bottom: $spacing-stack-md !default;

// block
.note {
  position: relative;
  border-radius: $note-border-radius;
  padding: $note-padding;
  margin-bottom: $note-margin-bottom;

  @include note-variant(
    $background: $grey-light,
    $color: $grey-dark
  );

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// modifiers
@each $name, $color in $theme-colors {
  .note.note--#{$name} {
    @include note-variant(
      $background: tint-color($color, 11),
      $color: shade-color($color, 6)
    );
  }
}
