/* ## Nav
---------------------------------*/
$nav-border-radius: $component-border-radius-md !default;
$nav-border-width: $component-border-width !default;
$nav-border-color: $grey-thin !default;
$nav-color: $grey-mute !default;
$nav-hover-color: $grey-dark !default;
$nav-font-size-sm: $text-size-sm !default;
$nav-font-size-md: $text-size-md !default;
$nav-font-size-lg: $text-size-lg !default;
$nav-tabs-active-bg: $component-bg !default;

.nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  position: relative;

  &:not(:last-child) {
    margin: 0 $spacing-stack-md 0 0;
  }

  &.is-active {
    > .nav__link {
      color: $color-primary;
    }
  }
}

.nav__link {
  cursor: pointer;
  display: block;
  color: $nav-color;
  font-size: $nav-font-size-md;
  line-height: $line-height-normal;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;

  &:hover {
    color: $nav-hover-color;
  }

  &[disabled],
  &.is-disabled {
    opacity: .3;
    cursor: not-allowed;
  }

}

.nav.nav--sm {
  > .nav__item {
    > .nav__link {
      font-size: $nav-font-size-sm;
    }
  }
}

.nav.nav--lg {
  > .nav__item {
    > .nav__link {
      font-size: $nav-font-size-lg;
    }
  }
}

.nav.nav--start {
  justify-content: flex-start;
}

.nav.nav--center {
  justify-content: center;
}

.nav.nav--end {
  justify-content: flex-end;
}

.nav.nav--stretch {
  justify-content: space-around;

  > .nav__item {
    flex: 1 1 0%;
  }
}

.nav.nav--pills {
  > .nav__item {
    &:not(:last-child) {
      margin-right: $spacing-stack-xs;
    }
  
    > .nav__link {
      padding: 0.375em 0.75em;
      border-radius: $nav-border-radius;

      &:hover {
        background-color: $grey-light;
      }
    }

    &.is-active {
      > .nav__link {
        color: $white;
        background-color: $color-primary;
      }
    }
  }
}

.nav.nav--tabs {
  border-bottom: $nav-border-width solid $nav-border-color;

  > .nav__item {
    &:not(:last-child) {
      margin-right: $spacing-stack-xs;
    }

    > .nav__link {
      margin: 0 0 (0 - $nav-border-width) 0;
      padding: 0.375em 0.75em;
    }

    &.is-active {
      > .nav__link {
        border-bottom: $nav-border-width solid $color-primary;
      }
    }
  }
}

