/* ## Menu
---------------------------------*/
$menu-color: $grey-dark !default; 
$menu-heading-color: $grey-mute !default;
$menu-list-gutter: $spacing-stack-md !default;
$menu-heading-line-height: $line-height-tight !default;
$menu-heading-margin-bottom: $spacing-stack-sm !default;
$menu-item-border-radius: $shape-border-radius-md !default;
$menu-item-icon-size: 20px !default;
$menu-item-line-height-base: $line-height-compact !default;
$menu-item-gutter: $spacing-stack-xxs !default;
$menu-item-hover-bg: $grey-light !default;
$menu-item-active-bg: $color-primary !default;
$menu-item-active-color: invert-color($menu-item-active-bg) !default;
$menu-divider-color: $grey-thin !default;
$menu-submenu-line-color: $grey-weak !default;

$menu-font-size-sm: $text-size-sm !default;
$menu-heading-font-size-sm: $text-size-sm !default;
$menu-item-padding-sm: $spacing-squish-sm !default;
$menu-item-line-height-sm: round-line-height($menu-font-size-sm, $menu-item-line-height-base) !default;
$menu-item-height-sm-computed: $menu-item-line-height-sm * $menu-font-size-sm + 2 * nth($menu-item-padding-sm, 1);

$menu-font-size-md: $text-size-md !default;
$menu-heading-font-size-md: $text-size-sm !default;
$menu-item-padding-md: $spacing-squish-sm !default;
$menu-item-line-height-md: round-line-height($menu-font-size-md, $menu-item-line-height-base) !default;
$menu-item-height-md-computed: $menu-item-line-height-md * $menu-font-size-md + 2 * nth($menu-item-padding-md, 1);

.menu {
  position: relative;
}

.menu__heading {
  color: $menu-heading-color;
  font-size: $menu-heading-font-size-md;
  line-height: $menu-heading-line-height;
  margin-bottom: $menu-heading-margin-bottom;
}

.menu__list {
  margin: 0 0 $menu-list-gutter 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  position: relative;
  margin: $menu-item-gutter 0;
}

.menu__link {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: $menu-item-padding-md;
  border-radius: $menu-item-border-radius;
  color: $menu-color;
  font-size: $menu-font-size-md;
  line-height: $menu-item-line-height-md;
  height: $menu-item-height-md-computed;
  cursor: pointer;

  &:hover {
    background-color: $menu-item-hover-bg;
  }

  &.is-active {
    color: $menu-item-active-color;
    background-color: $menu-item-active-bg;
  }
}

.menu__icon {
  flex: 0 0 auto;
  width: $menu-item-icon-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: $spacing-stack-sm;
  margin-left: $spacing-stack-sm - nth($menu-item-padding-md, 2);
}

.menu__label {
  flex: 1 1 auto;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__after {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: $spacing-stack-sm;
}

.menu__divider {
  margin: $menu-list-gutter 0;
  height: 1px;
  border: none;
  background-color: $menu-divider-color;
}

.menu__item {
  .menu__list {
    display: none;
    margin: $spacing-stack-xs 0 $spacing-stack-sm (nth($menu-item-padding-md, 2) + $menu-item-icon-size / 2);
    padding: 0 0 0 ($menu-item-icon-size / 2 + $spacing-stack-sm - nth($menu-item-padding-md, 2));
    border-left: 1px solid $menu-submenu-line-color;
  }

  &.is-active {
    > .menu__list {
      display: block;
    }
  }
}

// size modifier
.menu.menu--sm {

  .menu__heading {
    font-size: $menu-heading-font-size-sm;
  }

  .menu__link {
    padding: $menu-item-padding-sm;
    font-size: $menu-font-size-sm;
    line-height: $menu-item-line-height-sm;
    height: $menu-item-height-sm-computed;
  }

  .menu__icon {
    margin-left: $spacing-stack-sm - nth($menu-item-padding-sm, 2);
  }

  .menu__item {
    .menu__list {
      margin: $spacing-stack-xs 0 $spacing-stack-sm (nth($menu-item-padding-sm, 2) + $menu-item-icon-size / 2);
        padding: 0 0 0 ($menu-item-icon-size / 2 + $spacing-stack-sm - nth($menu-item-padding-sm, 2));
    }
  }

}

// theme modifier
.menu.menu--dark {
  .menu__heading {
    color: rgba($white, 0.25);
  }

  .menu__link {
    color: rgba($white, 0.5);
    &:hover {
      color: rgba($white, 0.75);
      background-color: rgba($white, 0.05);
    }
  }

  .menu__divider {
    background-color: rgba($white, 0.1);
  }

  .menu__item {
    .menu__list {
      border-color: rgba($white, 0.1);
    }
  }
}

.menu.menu--light {
  .menu__link {
    color: rgba($black, 0.75);
    &:hover {
      color: $black;
      background-color: rgba($black, 0.05);
    }
  }

  .menu__divider {
    background-color: rgba($black, 0.1);
  }

  .menu__item {
    .menu__list {
      border-color: rgba($black, 0.1);
    }
  }
}
