/* ## Box
---------------------------------*/
$box-border-width: $component-border-width !default;
$box-border-radius: $component-border-radius-md !default;
$box-margin-bottom: $spacing-stack-lg !default;
$box-title-size: $text-size-base !default;
$box-header-padding: $spacing-squish-md !default;
$box-inner-padding: $spacing-square-md !default;
$box-bg: $component-bg !default;
$box-colors: (
  danger: (bg: #f2dede, border: #ebccd1, color: #a94442),
  info: (bg: #d9edf7, border: #bde2fb, color: #31708f),
  success: (bg: #dff0d8, border: #d6e9c6, color: #3c763d),
  warning: (bg: #fcf8e3, border: #faebcc, color: #8a6d3b)
) !default;

.box {
  margin-bottom: $box-margin-bottom;
  border-radius: $box-border-radius;
}

.box__header {
  color: $grey-dark;
  font-size: $box-title-size;
  line-height: $line-height-tight;
  padding: $box-header-padding;
  border: $box-border-width solid $grey-thin;
  border-radius: $box-border-radius $box-border-radius 0 0;
  background-color: $grey-light;

  &:only-child {
    border-radius: $box-border-radius;
  }
}

.box__body {
  border-style: solid;
  border-color: $grey-thin;
  border-width: 0 $box-border-width $box-border-width $box-border-width;
  border-radius: 0 0 $box-border-radius $box-border-radius;
  background-color: $box-bg;

  &:only-child {
    border-width: $box-border-width;
    border-radius: $box-border-radius;
  }
}

.box__inner {
  padding: $box-inner-padding;

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

}

@each $name, $value in $box-colors {
  .box--#{$name} {
    @include box-variant(map-get($value, 'color'), map-get($value, 'border'), map-get($value, 'bg'))
  }
}

// accordion
details.box {
  > summary.box__header {
    cursor: pointer;
    border-bottom-left-radius: $box-border-radius;
    border-bottom-right-radius: $box-border-radius;
    appearance: none;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    > summary.box__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
