/* ## Navbar
---------------------------------*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
}

.navbar__start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__item {
  position: relative;
  flex: 0 0 auto;
  color: $grey-mute;
  font-size: $text-size-md;

  &:not(:last-child) {
    margin-right: $spacing-stack-lg;
  }

  &.is-active {
    > .navbar__link {
      color: $grey-base;
      font-weight: $font-weight-medium;
    }
  }
}

.navbar__link {
  display: block;
  color: inherit;
}

.navbar__brand {
  font-size: $text-size-xl;
  line-height: $line-height-tight;
  color: $grey-base;
  margin-right: $spacing-stack-xl;
}

.navbar.navbar--dark {
  .navbar__brand {
    color: $white;
  }

  .navbar__item {
    color: rgba($white, 0.5);
    &.is-active {
      > .navbar__link {
        color: $white;
      }
    }
  }
}

.navbar.navbar--light {
  .navbar__brand {
    color: black;
  }

  .navbar__item {
    color: rgba($black, 0.65);
    &.is-active {
      > .navbar__link {
        color: $black;
      }
    }
  }
}
