/* ## Progress
---------------------------------*/
$progress-height-sm: 4px !default;
$progress-height-md: 8px !default;
$progress-height-lg: 12px !default;

.progress {
  position: relative;
  display: block;
  width: 100%;
  height: $progress-height-md;
  border-radius: 1993px;
  background-color: $grey-light;
  overflow: hidden;

  &__bar {
    position: relative;
    float: left;
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: $grey-mute;
  }

  &.is-active {
    .progress__bar {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        animation: progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
      }
    }
  }
}


.progress--sm {
  height: $progress-height-sm;
}

.progress--lg {
  height: $progress-height-lg;
}

@each $name, $color in $theme-colors {
  .progress--#{$name} {
    .progress__bar {
      background-color: $color;
    }
  }
}

@keyframes progress-active {
  0% {
    opacity: 0.1;
    width: 0;
  }

  20% {
    opacity: 0.5;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}
