/* ## Badge
---------------------------------*/
.badge {
  display: inline-block;
  padding: $spacing-squish-sm;
  font-size: $text-size-xs;
  line-height: $line-height-tight;
  min-width: $text-size-xs * $line-height-tight + nth($spacing-squish-sm, 1) * 2;
  text-align: center;
  white-space: nowrap;
  border-radius: 1993px;
  vertical-align: middle;
  @include badge-variant($grey-mute, $grey-light);

  &:empty {
    min-width: auto;
    width: 8px;
    height: 8px;
    padding: 0;
  }

}

.badge--primary {
  @include badge-variant($white, $color-primary)
}

.badge--danger {
  @include badge-variant($white, $color-danger)
}

.badge--success {
  @include badge-variant($white, $color-success)
}

.badge--info {
  @include badge-variant($white, $color-info)
}

.badge--warning {
  @include badge-variant($white, $color-warning)
}
