/* ## Modal
---------------------------------*/
$modal-width-sm:                           480px !default;
$modal-width-md:                           600px !default;
$modal-width-lg:                           900px !default;
$modal-border-radius:                      $component-border-radius-lg !default;
$modal-content-padding:                    $spacing-square-md !default;
$modal-bg:                                 $component-bg !default;
$modal-shadow:                             $shadow-lg !default;
$modal-title-font-size:                    $text-title-sm !default;
$modal-title-line-height:                  $line-height-normal !default;
$modal-zIndex:                             $zIndex-9 !default;
$mask-zIndex:                              $zIndex-6 !default;
$mask-bg:                                  rgba($black, 0.5) !default;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: $spacing-square-md;
  z-index: $modal-zIndex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $modal-width-md;
  width: 100%;
  margin: auto;
  background-color: $modal-bg;
  border-radius: $modal-border-radius;
  box-shadow: $modal-shadow;
}

.modal__header {
  position: relative;
  flex-shrink: 0;
  padding: $spacing-square-md;
}

.modal__title {
  margin: 0;
  font-weight: $font-weight-medium;
  font-size: $modal-title-font-size;
  line-height: $modal-title-line-height;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: $modal-content-padding;
  top: $modal-content-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 1;
  color: $grey-mute;
  font-size: $text-size-xl;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: $component-border-radius-md;
  background-color: $grey-light;
  font-family: Helvetica, Arial, sans-serif;
  appearance: none;

  &:hover {
    background-color: darken($grey-light, 2.5%);
  }
  &:active {
    background-color: darken($grey-light, 5%);
  }
}

.modal__body {
  flex: 1 1 auto;
  padding: $modal-content-padding;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal__footer {
  flex-shrink: 0;
  padding: $modal-content-padding;
  text-align: right;
}

.modal.modal--mask {
  background-color: rgba($black, 0.5);
}

.modal.modal--sm {
  .modal__content {
    max-width: $modal-width-sm;
  }
}

.modal.modal--lg {
  .modal__content {
    max-width: $modal-width-lg;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mask-bg;
  z-index: $mask-zIndex;
}

body.is-masking {
  overflow: hidden;
}
