/* ## Hint
---------------------------------*/
.hint {
  position: relative; // absolute or fixed
  overflow: visible;

  &:before,
  &:after {
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 15;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    left: calc(50% - 5px);
    bottom: 100%;
    border-width: 5px 5px 0 5px;
    border-color: $black transparent transparent transparent;
  }

  &:after {
    content: attr(data-hint);
    color: $white;
    font-size: $text-size-sm;
    line-height: $line-height-compact;
    padding: $spacing-squish-sm;
    border-radius: $component-border-radius-sm;
    background-color: $black;
    white-space: pre-wrap;
    left: 50%;
    bottom: 100%;
    width: 160px;
    margin-bottom: 5px;
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:focus {
    &:before,
    &:after {
      display: block;
    }

    &:before {
      transform: translateY(-4px);
    }
    &:after {
      transform: translateX(-50%) translateY(-4px);
    }
  }
}

.hint--sm {
  &:after {
    white-space: normal;
    width: 120px;
  }
}

.hint--lg {
  &:after {
    white-space: normal;
    width: 220px;
  }
}

.hint--left {

  &:before {
    top: calc(50% - 5px);
    left: auto;
    right: 100%;
    bottom: auto;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $black;
  }

  &:after {
    top: 50%;
    left: auto;
    right: calc(100% + 5px);
    bottom: auto;
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(-4px);
    }
    &:after {
      transform: translateX(-4px) translateY(-50%);
    }
  }

}

.hint--right {

  &:before {
    top: calc(50% - 5px);
    right: auto;
    bottom: auto;
    left: 100%;
    border-width: 5px 5px 5px 0;
    border-color: transparent $black transparent transparent;
  }

  &:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: calc(100% + 5px);
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(4px);
    }
    &:after {
      transform: translateX(4px) translateY(-50%);
    }
  }

}

.hint--bottom {

  &:before {
    top: 100%;
    right: auto;
    bottom: auto;
    left: calc(50% - 5px);
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $black transparent;
  }

  &:after {
    top: calc(100% + 5px);
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateY(4px);
    }
    &:after {
      transform: translateX(-50%) translateY(4px);
    }
  }

}
