/* ## Dropdown
---------------------------------*/
$dropdown-bg: $shape-bg !default;
$dropdown-gutter: $spacing-stack-sm !default;
$dropdown-shadow: $shadow-md, $shadow-edge !default;
$dropdown-border-radius: $shape-border-radius-md !default;
$dropdown-width-sm: 160px !default;
$dropdown-width-md: 200px !default;
$dropdown-width-lg: 280px !default;
$dropdown-content-zIndex: $zIndex-1 !default;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__toggle {
  &::-webkit-details-marker {
		display: none;
	}
}

.dropdown__content {
  position: absolute;
  left: 0;
  top: 100%;
  right: auto;
  bottom: auto;
  width: $dropdown-width-md;
  padding: $dropdown-border-radius 0;
  margin: $dropdown-gutter 0 0 0;
  border-radius: $dropdown-border-radius;
  background-color: $dropdown-bg;
  box-shadow: $dropdown-shadow;
  z-index: $dropdown-content-zIndex;

  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// size modifiers
.dropdown--sm {
  .dropdown__content {
    width: $dropdown-width-sm;
  }
}

.dropdown--lg {
  .dropdown__content {
    width: $dropdown-width-lg;
  }
}

// position modifiers
.dropdown--bl {
  .dropdown__content {
    left: 0;
    top: 100%;
    right: auto;
    bottom: auto;
    margin: $dropdown-gutter 0 0 0;
  }
}

.dropdown--br {
  .dropdown__content {
    left: auto;
    top: 100%;
    right: 0;
    bottom: auto;
    margin: $dropdown-gutter 0 0 0;
  }
}

.dropdown--rt {
  .dropdown__content {
    left: 100%;
    top: 0;
    right: auto;
    bottom: auto;
    margin: 0 0 0 $dropdown-gutter;
  }
}

.dropdown--rb {
  .dropdown__content {
    left: 100%;
    top: auto;
    right: auto;
    bottom: 0;
    margin: 0 0 0 $dropdown-gutter;
  }
}

.dropdown--tl {
  .dropdown__content {
    left: 0;
    top: auto;
    right: auto;
    bottom: 100%;
    margin: 0 0 $dropdown-gutter 0;
  }
}

.dropdown--tr {
  .dropdown__content {
    left: auto;
    top: auto;
    right: 0;
    bottom: 100%;
    margin: 0 0 $dropdown-gutter 0;
  }
}

.dropdown--lt {
  .dropdown__content {
    left: auto;
    top: 0;
    right: 100%;
    bottom: auto;
    margin: 0 $dropdown-gutter 0 0;
  }
}

.dropdown--lb {
  .dropdown__content {
    left: auto;
    top: auto;
    right: 100%;
    bottom: 0;
    margin: 0 $dropdown-gutter 0 0;
  }
}
