/* ## Navbar
---------------------------------*/
$navbar-font-size:                         $text-size-md !default;
$navbar-color:                             $grey-dark !default;
$navbar-font-size:                         $text-size-md !default;
$navbar-item-gutter:                       $spacing-stack-lg !default;
$navbar-item-padding:                      $spacing-squish-md !default;
$navbar-light-color:                       $black !default;
$navbar-dark-color:                        $white !default;

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar__start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__item {
  flex: 0 0 auto;
  position: relative;
  color: $navbar-color;
  font-size: $navbar-font-size;

  &:not(:last-child) {
    margin-right: $navbar-item-gutter;
  }
}

.navbar__link {
  display: block;
  color: rgba($navbar-color, 0.75);

  &:hover {
    color: $navbar-color;
  }
}

.navbar__link.is-active {
  color: $navbar-color;
  font-weight: $font-weight-medium;
}

.navbar__brand {
  font-size: $navbar-font-size * 1.25;
  line-height: $line-height-tight;
  color: $navbar-color;
  margin-right: $navbar-item-gutter * 1.25;
}

// modifier - dark
.navbar.navbar--dark {
  .navbar__brand {
    color: $navbar-dark-color;
  }

  .navbar__item {
    color: $navbar-dark-color;
  }

  .navbar__link {
    color: rgba($navbar-dark-color, 0.5);

    &:hover {
      color: rgba($navbar-dark-color, 0.75);
    }
  
    &.is-active {
      color: $navbar-dark-color;
    }
  }
}

// modifier - light
.navbar.navbar--light {
  .navbar__brand {
    color: $navbar-light-color;
  }

  .navbar__item {
    color: $navbar-light-color;
  }

  .navbar__link {
    color: rgba($navbar-light-color, 0.75);

    &:hover {
      color: $navbar-light-color;
    }

    &.is-active {
      color: $navbar-light-color;
    }
  }
}
