/* ## Hint
---------------------------------*/
$hint-color: $white !default;
$hint-bg: $black !default;
$hint-font-size: $text-size-sm !default;
$hint-padding: $spacing-squish-sm !default;
$hint-border-radius: $shape-border-radius-md !default;
$hint-width-sm: 120px !default;
$hint-width-md: 160px !default;
$hint-width-lg: 220px !default;

.hint {
  position: relative; // absolute or fixed
  overflow: visible;

  &:before,
  &:after {
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 15;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    left: 50%;
    bottom: 100%;
    margin: 0 0 0 -5px;
    border-width: 5px 5px 0 5px;
    border-color: $hint-bg transparent transparent transparent;
  }

  &:after {
    content: attr(data-hint);
    color:$hint-color;
    font-size: $hint-font-size;
    padding: $hint-padding;
    line-height: $line-height-compact;
    border-radius: $hint-border-radius;
    background-color: $hint-bg;
    white-space: pre-wrap;
    left: 50%;
    bottom: 100%;
    margin: 0 0 5px 0;
    width: $hint-width-md;
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:focus {
    &:before,
    &:after {
      display: block;
    }

    &:before {
      transform: translateY(-4px);
    }
    &:after {
      transform: translateX(-50%) translateY(-4px);
    }
  }
}

// size modifiers
.hint--sm {
  &:after {
    width: $hint-width-sm;
  }
}

.hint--lg {
  &:after {
    width: $hint-width-lg;
  }
}

// position modifiers
.hint--left {

  &:before {
    top: 50%;
    left: auto;
    right: 100%;
    bottom: auto;
    margin: -5px 0 0 0;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $black;
  }

  &:after {
    top: 50%;
    left: auto;
    right: 100%;
    bottom: auto;
    margin: 0 5px 0 0;
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(-4px);
    }
    &:after {
      transform: translateX(-4px) translateY(-50%);
    }
  }
}

.hint--right {

  &:before {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    margin: -5px 0 0 0;
    border-width: 5px 5px 5px 0;
    border-color: transparent $black transparent transparent;
  }

  &:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    margin: 0 0 0 5px;
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(4px);
    }
    &:after {
      transform: translateX(4px) translateY(-50%);
    }
  }
}

.hint--bottom {

  &:before {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 50%;
    margin: 0 0 0 -5px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $black transparent;
  }

  &:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 50%;
    margin: 5px 0 0 0;
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateY(4px);
    }
    &:after {
      transform: translateX(-50%) translateY(4px);
    }
  }
}
