/* ## Note
---------------------------------*/
$note-border-radius: $component-border-radius-md !default;
$note-padding: $spacing-square-md !default;
$note-margin-bottom: $spacing-stack-md !default;
$note-colors: (
  danger: (bg: #f2dede, color: #a94442),
  info: (bg: #d9edf7, color: #31708f),
  success: (bg: #dff0d8, color: #3c763d),
  warning: (bg: #fcf8e3, color: #8a6d3b)
) !default;

// block
.note {
  position: relative;
  border-radius: $note-border-radius;
  padding: $note-padding;
  margin-bottom: $note-margin-bottom;
  @include note-variant($grey-light, $grey-dark);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// modifiers
@each $name, $value in $note-colors {
  .note--#{$name} {
    @include note-variant(map-get($value, 'bg'), map-get($value, 'color'))
  }
}
