/* ## Form
---------------------------------*/
$form-control-border-width:             $component-border-width !default;
$form-control-bg:                       $component-bg !default;
$enable-form-focus-box-shadow:          true !default;
$form-checkbox-size:                    16px !default;
$form-radio-size:                       16px !default;
$form-control-height-computed:          $text-size-base * $line-height-normal + nth($spacing-squish-sm, 1) * 2 + 2px;

.form-input,
.form-select,
.form-textarea {
  display: block;
  width: 100%;
  padding: $spacing-squish-sm;
  color: $grey-dark;
  font-size: $text-size-base;
  line-height: $line-height-normal;
  border: 1px solid $grey-thin;
  border-radius: $component-border-radius-base;
  background-color: $form-control-bg;
  outline: none;
  box-shadow: none;
  background-image: none;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  // states
  &:hover,
  &.is-hovered {
    border-color: shade-color($grey-thin, 2);
  }

  &:focus,
  &.is-focused {
    border-color: $color-primary;
    @if $enable-form-focus-box-shadow {
      box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
  }

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: $grey-mute !important;
    border-color: $grey-shade !important;
    background-color: $grey-shade !important;
    box-shadow: none !important;
  }

  &::placeholder {
    opacity: 1;
    color: $grey-mute;
  }

  &.is-success {
    &,
    &:hover {
      border-color: $color-success;
    }

    &:focus,
    &.is-focused {
      border-color: $color-success;
      @if $enable-form-focus-box-shadow {
        box-shadow: 0 0 0 2px rgba($color-success, 0.25);
      }
    }
  }

  &.is-danger {
    &,
    &:hover,
    &.is-hovered {
      border-color: $color-danger;
    }

    &:focus,
    &.is-focused {
      border-color: $color-danger;
      @if $enable-form-focus-box-shadow {
        box-shadow: 0 0 0 2px rgba($color-danger, 0.25);
      }
    }
  }

  &.is-warning {
    &,
    &:hover,
    &.is-hovered {
      border-color: $color-warning;
    }

    &:focus,
    &.is-focused {
      border-color: $color-warning;
      @if $enable-form-focus-box-shadow {
        box-shadow: 0 0 0 2px rgba($color-warning, 0.25);
      }
    }
  }
}

// input
.form-input {
  height: $form-control-height-computed;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $form-control-bg inset;
  }
}

// file
.form-input[type="file"] {
  height: auto;
}

// select
select.form-select {
  cursor: pointer;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
    display: none;
  }

  &:not([multiple]) {
    padding-right: 32px;
    background-color: $form-control-bg;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23616161' d='M8.706 11.414l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71h-5.18c-.89 0-1.33 1.08-.7 1.71z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &[multiple] {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    option {
      border-radius: 0;
      padding: $spacing-squish-sm;
      margin-bottom: $spacing-stack-xs;
    }
  }
}

.form-input,
.form-select,
.form-textarea {
  &--sm {
    font-size: $text-size-sm;
    padding: $spacing-squish-xs;
    height: $text-size-base * $line-height-normal + nth($spacing-squish-xs, 1) * 2 + 2px;
  }

  &--lg {
    font-size: $text-size-lg;
    line-height: 1.5;
    padding: $spacing-squish-md;
    height: $text-size-base * $line-height-normal + nth($spacing-squish-md, 1) * 2 + 2px;
  }
}

// checkbox
.form-checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: $form-checkbox-size;
  height: $form-checkbox-size;
  border-radius: 0;
  border: $form-control-border-width solid $grey-thin;
  background-color: $form-control-bg;
  padding: 0;
  margin: 0;
  appearance: none;

  &:checked {
    border: 0;
    background-color: $color-primary;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// radio
.form-radio {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: $form-radio-size;
  height: $form-radio-size;
  border-radius: 1993px;
  border: $form-control-border-width solid $grey-thin;
  background-color: $form-control-bg;
  padding: 0;
  margin: 0;
  appearance: none;

  &:checked {
    border: 0;
    background-color: $color-primary;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// Field
.form-field {
  text-align: left;
  margin-bottom: $spacing-stack-lg;
}

.form-label {
  display: block;
  color: $grey-dark;
  line-height: $line-height-compact;
  margin: 0 0 $spacing-stack-xs 0;
}

.form-help {
  display: block;
  color: $grey-mute;
  line-height: $line-height-compact;
  margin: $spacing-stack-xs 0 0 0;
}

// Group
.form-addon {
  display: inline-flex;
  align-items: center;
  padding: $spacing-squish-sm;
  color: $grey-dark;
  font-size: $text-size-base;
  line-height: $line-height-normal;
  border-radius: $component-border-radius-base;
  &:not(.btn) {
    border: 1px solid $grey-thin;
    background-color: $grey-light;
  }
}

.form-group {
  display: flex;
  align-items: stretch;

  > .form-input,
  > .form-select,
  > .form-addon,
  > .btn {
    border-radius: 0;

    &:nth-child(n+2) {
      margin-left: -1px;
    }

    &:first-child {
      border-radius: $component-border-radius-base 0 0 $component-border-radius-base;
    }

    &:last-child {
      border-radius: 0 $component-border-radius-base $component-border-radius-base 0;
    }
  }

  > .form-input,
  > .form-select {
    flex: 1 1 0%;
    z-index: 10;
    &:focus {
      z-index: 20;
    }
  }

  > .form-addon {
    z-index: 5;
    &.btn {
      z-index: 15;
    }
  }

  > .btn {
    z-index: 15;
  }
}
