/* ## Badge
---------------------------------*/
$badge-font-size: $text-size-xs !default;
$badge-padding: $spacing-squish-sm !default;
$badge-empty-size: 8px !default;

.badge {
  display: inline-block;
  padding: $badge-padding;
  font-size: $badge-font-size;
  line-height: $line-height-tight;
  text-align: center;
  white-space: nowrap;
  border-radius: 1993px;
  vertical-align: middle;

  @include badge-variant($grey-light, $grey-mute);

  &:empty {
    min-width: auto;
    width: $badge-empty-size;
    height: $badge-empty-size;
    padding: 0;
  }
}

@each $name, $color in $theme-colors {
  .badge--#{$name} {
    @include badge-variant($color)
  }
}
