/* ## List
---------------------------------*/
$list-bg: $component-bg !default;

.list {
  position: relative;
  padding: 0;
  margin: 0 0 $spacing-stack-lg;
  list-style: none;
}

.list__item,
.list__link {
  position: relative;
  display: block;
  padding-top: nth($spacing-squish-lg, 1);
  padding-bottom: nth($spacing-squish-lg, 1);
  background-color: $list-bg;

  &:not(:first-child) {
    border-top: 1px solid $grey-weak;
  }

}

.list__link {
  cursor: pointer;
  color: inherit;

  &:hover {
    background-color: $grey-light;
  }
}

.list--inset {
  .list__item,
  .list__link {
    padding-left: nth($spacing-squish-lg, 2);
    padding-right: nth($spacing-squish-lg, 2);
  }
}

.list--bordered {
  .list__item,
  .list__link {
    padding-left: nth($spacing-squish-lg, 2);
    padding-right: nth($spacing-squish-lg, 2);
    border: 1px solid $grey-weak;
    margin-bottom: -1px;

    &:first-child {
      border-top-left-radius: $component-border-radius-base;
      border-top-right-radius: $component-border-radius-base;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: $component-border-radius-base;
      border-bottom-right-radius: $component-border-radius-base;
    }
  }
}

.list--compact {
  .list__item,
  .list__link {
    padding-top: nth($spacing-squish-md, 1);
    padding-bottom: nth($spacing-squish-md, 1);
  }

  &.list--bordered,
  &.list--inset {
    .list__item {
      padding-left: nth($spacing-squish-md, 2);
      padding-right: nth($spacing-squish-md, 2);
    }
  }
}

.list--loose {
  .list__item,
  .list__link {
    padding-top: nth($spacing-squish-xl, 1);
    padding-bottom: nth($spacing-squish-xl, 1);
  }

  &.list--bordered,
  &.list--inset {
    .list__item {
      padding-left: nth($spacing-squish-xl, 2);
      padding-right: nth($spacing-squish-xl, 2);
    }
  }
}
