/* ## Form
---------------------------------*/
$form-control-color:                    $grey-dark !default;
$form-control-bg:                       $shape-bg !default;
$form-control-line-height:              $line-height-normal !default;
$form-control-border-color:             $grey-thin !default;
$form-control-border-width:             $shape-border-width !default;
$form-control-border-radius:            $shape-border-radius-md !default;
$form-label-color:                      $grey-dark !default;
$form-label-margin-bottom:              $spacing-stack-xs !default;
$form-field-margin-bottom:              $spacing-stack-md !default;
$form-help-margin-top:                  $spacing-stack-xs !default;
$form-help-color:                       $grey-mute !default;
$form-addon-bg:                         $grey-light !default;
$enable-form-focus-shadow:              true !default;

$form-control-padding-sm:               $spacing-squish-xs !default;
$form-control-font-size-sm:             $text-size-sm !default;
$form-control-line-height-sm:           round-line-height($form-control-font-size-sm, $form-control-line-height) !default;

$form-control-padding-md:               $spacing-squish-sm !default;
$form-control-font-size-md:             $text-size-md !default;
$form-control-line-height-md:           round-line-height($form-control-font-size-md, $form-control-line-height) !default;

$form-control-placeholder-color:        rgba($grey-mute, 0.75) !default;
$form-control-disabled-color:           $grey-mute !default;
$form-control-disabled-bg:              $grey-shade !default;

$form-checkbox-size:                    16px !default;
$form-checkbox-active-color:            $color-primary !default;
$form-radio-size:                       16px !default;
$form-radio-active-color:               $color-primary !default;

$form-range-color:                      $grey-dark !default;
$form-range-bg:                         $grey-weak !default;
$form-range-border-radius:              1993px !default;

$icon-caret:                            "data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23" + str-slice("#{$grey-mute}", 2) + "' d='M9.987 10.635L7.751 8.41 7 9.136l2.988 2.865L13 9.124l-.746-.724z'/%3E%3C/svg%3E" !default;
$icon-check:                            "data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23" + str-slice("#{$form-control-bg}", 2) + "' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e" !default;

$form-control-height-computed:          $form-control-font-size-md * $form-control-line-height-md + nth($form-control-padding-md, 1) * 2 + $form-control-border-width * 2;

.form-input,
.form-select,
.form-textarea {
  display: block;
  width: 100%;
  color: $form-control-color;
  padding: $form-control-padding-md;
  font-size: $form-control-font-size-md;
  line-height: $form-control-line-height-md;
  height: $form-control-height-computed;
  border: $form-control-border-width solid $form-control-border-color;
  border-radius: $form-control-border-radius;
  background-color: $form-control-bg;
  outline: none;
  box-shadow: none;
  background-image: none;
  background-clip: padding-box;
  appearance: none;

  &:hover,
  &.is-hovered {
    border-color: darken($form-control-border-color, 2.5%);
  }

  &:focus,
  &.is-focused {
    border-color: $color-primary;
    @if $enable-form-focus-shadow {
      box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
    color: $form-control-disabled-color !important;
    border-color: $form-control-disabled-bg !important;
    background-color: $form-control-disabled-bg !important;
    box-shadow: none !important;
  }

  &::placeholder {
    opacity: 1;
    color: $form-control-placeholder-color;
  }

  &.is-success {
    &,
    &:hover {
      border-color: $color-success;
    }

    &:focus,
    &.is-focused {
      border-color: $color-success;
      @if $enable-form-focus-shadow {
        box-shadow: 0 0 0 2px rgba($color-success, 0.25);
      }
    }
  }

  &.is-danger {
    &,
    &:hover,
    &.is-hovered {
      border-color: $color-danger;
    }

    &:focus,
    &.is-focused {
      border-color: $color-danger;
      @if $enable-form-focus-shadow {
        box-shadow: 0 0 0 2px rgba($color-danger, 0.25);
      }
    }
  }

  &.is-warning {
    &,
    &:hover,
    &.is-hovered {
      border-color: $color-warning;
    }

    &:focus,
    &.is-focused {
      border-color: $color-warning;
      @if $enable-form-focus-shadow {
        box-shadow: 0 0 0 2px rgba($color-warning, 0.25);
      }
    }
  }
}

// input
.form-input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $form-control-bg inset;
  }

  &[type="file"] {
    height: auto;
    min-height: $form-control-height-computed;
  }
}

// select
.form-select {
  cursor: pointer;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
    display: none;
  }

  &:not([multiple]) {
    padding-right: 32px;
    background-color: $form-control-bg;
    background-image: url("#{$icon-caret}");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &[multiple] {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    min-height: $form-control-height-computed;
    option {
      border-radius: 0;
      padding: $spacing-squish-sm;
      margin-bottom: $spacing-stack-xs;
    }
  }
}

// textarea
.form-textarea {
  height: auto;
  min-height: $form-control-height-computed;
}

// sizing
.form-input,
.form-select,
.form-textarea {
  &--sm {
    $form-control-height-computed: $form-control-font-size-sm * $form-control-line-height-sm + nth($form-control-padding-sm, 1) * 2 + $form-control-border-width * 2;

    font-size: $form-control-font-size-sm;
    line-height: $form-control-line-height-sm;
    height: $form-control-height-computed;
    padding: $form-control-padding-sm;

    &.form-input[type="file"] {
      min-height: $form-control-height-computed;
    }

    &.form-select[multiple] {
      height: auto;
      min-height: $form-control-height-computed;
    }

    &.form-textarea {
      height: auto;
      min-height: $form-control-height-computed;
    }
  }
}

// checkbox
.form-checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: $form-checkbox-size;
  height: $form-checkbox-size;
  border-radius: $form-control-border-radius;
  border: $form-control-border-width solid $form-control-border-color;
  background-color: $form-control-bg;
  padding: 0;
  margin: 0;
  appearance: none;

  &:checked {
    border: 0;
    background-color: $form-checkbox-active-color;
    background-image: url("#{$icon-check}");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover,
  &.is-hovered {
    border-color: darken($form-control-border-color, 2.5%);
  }

  &:focus,
  &.is-focused {
    border-color: $color-primary;
    @if $enable-form-focus-shadow {
      box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
    color: $form-control-disabled-color !important;
    border-color: $form-control-disabled-bg !important;
    background-color: $form-control-disabled-bg !important;
    box-shadow: none !important;
  }
}

// radio
.form-radio {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: $form-radio-size;
  height: $form-radio-size;
  border-radius: 1993px;
  border: $form-control-border-width solid $form-control-border-color;
  background-color: $form-control-bg;
  padding: 0;
  margin: 0;
  appearance: none;

  &:checked {
    border: 0;
    background-color: $form-control-bg;
    box-shadow: inset 0 0 0 ($form-radio-size / 3) $form-radio-active-color;
  }

  &:hover,
  &.is-hovered {
    border-color: darken($form-control-border-color, 2.5%);
  }

  &:focus,
  &.is-focused {
    border-color: $color-primary;
    @if $enable-form-focus-shadow {
      box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
    &:checked {
      box-shadow: inset 0 0 0 ($form-radio-size / 3) $form-radio-active-color, 0 0 0 2px rgba($color-primary, 0.25);
    }
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
    color: $form-control-disabled-color !important;
    border-color: $form-control-disabled-bg !important;
    background-color: $form-control-disabled-bg !important;
    box-shadow: none !important;
  }
}

// Range
.form-range {
  display: block;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  color: $form-range-color;
  border-radius: $form-range-border-radius;
  background-color: $form-range-bg;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
    color: $form-range-color;
  }

  &::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 9999px;
    background-color: currentColor;
    -webkit-appearance: none;
    appearance: none;
  }
}

// Field
.form-field {
  text-align: left;
  margin-bottom: $form-field-margin-bottom;
}

.form-label {
  display: block;
  color: $form-label-color;
  line-height: $line-height-compact;
  margin: 0 0 $form-label-margin-bottom 0;
}

.form-help {
  display: block;
  color: $form-help-color;
  line-height: $line-height-compact;
  margin: $form-help-margin-top 0 0 0;
}

// Group
.form-addon {
  display: inline-flex;
  align-items: center;
  padding: $spacing-squish-sm;
  border-radius: $form-control-border-radius;

  &:not(.btn) {
    border: $form-control-border-width solid $form-control-border-color;
    background-color: $form-addon-bg;
  }
}

.form-group {
  display: flex;
  align-items: stretch;

  > .form-input,
  > .form-select,
  > .form-addon,
  > .btn {
    border-radius: 0;

    &:nth-child(n+2) {
      margin-left: (0 - $form-control-border-width);
    }

    &:first-child {
      border-radius: $form-control-border-radius 0 0 $form-control-border-radius;
    }

    &:last-child {
      border-radius: 0 $form-control-border-radius $form-control-border-radius 0;
    }
  }

  > .form-input,
  > .form-select {
    flex: 1 1 0%;
    z-index: 10;
    &:focus {
      z-index: 20;
    }
  }

  > .form-addon {
    z-index: 5;
    &.btn {
      z-index: 15;
    }
  }

  > .btn {
    z-index: 15;
  }
}
