/* ## Note
---------------------------------*/
$note-border-radius: $shape-border-radius-md !default;
$note-padding: $spacing-square-md !default;
$note-color: $grey-dark !default;
$note-bg: $grey-light !default;

.note {
  border-radius: $note-border-radius;
  padding: $note-padding;

  @include note-variant(
    $background: $note-bg,
    $color: $note-color
  );

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// variant modifiers
@each $name, $color in $theme-colors {
  .note.note--#{$name} {
    @include note-variant(
      $background: tint-color($color, 11),
      $color: shade-color($color, 6)
    );
  }
}
