/* ## Pagination
---------------------------------*/
$pagination-border-width: 1px !default;
$pagination-bg: $component-bg !default;
$pagination-height-computed: $text-size-base * $line-height-normal + 2 * nth($spacing-squish-sm, 1)  + 2 * $pagination-border-width;

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  position: relative;
  display: inline-block;
  height: $pagination-height-computed;
  min-width: $pagination-height-computed;;
  color: $grey-mute;
  font-size: $text-size-base;
  line-height: $line-height-normal;
  padding: $spacing-squish-sm;
  border-radius: $component-border-radius-base;
  border: $pagination-border-width solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  z-index: 5;

  &:hover {
    color: $grey-dark;
    background-color: $grey-light;
  }

  &.is-active {
    color: $white;
    border-color: $color-primary;
    background-color: $color-primary;
    z-index: 10;
  }

  &.is-disabled {
    color: $grey-thin;
    cursor: not-allowed;
  }
}

.pagination--sm {
  $pagination-height-computed: $text-size-sm * $line-height-normal + 2 * nth($spacing-squish-xs, 1)  + 2 * $pagination-border-width;

  .pagination__item {
    height: $pagination-height-computed;
    min-width: $pagination-height-computed;
    font-size: $text-size-sm;
    padding: $spacing-squish-xs;
    border-radius: $component-border-radius-sm;
  }
}

.pagination--bordered {
  .pagination__item {
    border-color: $grey-thin;
    margin-left: -1px;
    background-color: $pagination-bg;

    &:hover {
      background-color: $grey-light;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      border-radius: 0;
    }

    &.is-active {
      color: $white;
      border-color: shade-color($color-primary, 1);
      background-color: $color-primary;
    }

    &.is-disabled {
      background-color: $grey-shade;
    }
  }
}
