/* ## Modal
---------------------------------*/
$modal-width-sm:                           480px !default;
$modal-width-md:                           600px !default;
$modal-width-lg:                           900px !default;
$modal-border-radius:                      $shape-border-radius-lg !default;
$modal-content-padding:                    $spacing-square-md !default;
$modal-bg:                                 $shape-bg !default;
$modal-shadow:                             $shadow-lg, $shadow-edge !default;
$modal-title-font-size:                    $text-title-sm !default;
$modal-title-line-height:                  $line-height-normal !default;
$modal-title-color:                        $grey-dark !default;
$modal-close-color:                        $grey-mute !default;
$modal-zIndex:                             $zIndex-9 !default;
$mask-zIndex:                              $zIndex-6 !default;
$mask-bg:                                  rgba($black, 0.5) !default;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: $spacing-square-md;
  z-index: $modal-zIndex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $modal-width-md;
  width: 100%;
  margin: auto;
  background-color: $modal-bg;
  border-radius: $modal-border-radius;
  box-shadow: $modal-shadow;
}

.modal__header {
  position: relative;
  flex-shrink: 0;
  padding: $modal-content-padding;
}

.modal__title {
  margin: 0;
  color: $modal-title-color;
  font-weight: $font-weight-medium;
  font-size: $modal-title-font-size;
  line-height: $modal-title-line-height;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: $modal-content-padding;
  top: $modal-content-padding;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: $shape-border-radius-md;
  opacity: 0.75;
  color: $modal-close-color;
  background-color: light-color($modal-close-color);
  box-shadow: none;
  appearance: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: currentColor;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    background-color: darken(light-color($modal-close-color), 2.5%);
  }
}

.modal__body {
  flex: 1 1 auto;
  padding: $modal-content-padding;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal__footer {
  flex-shrink: 0;
  padding: $modal-content-padding;
  text-align: right;
}

.modal.modal--mask {
  background-color: $mask-bg;
}

.modal.modal--sm {
  .modal__content {
    max-width: $modal-width-sm;
  }
}

.modal.modal--lg {
  .modal__content {
    max-width: $modal-width-lg;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mask-bg;
  z-index: $mask-zIndex;
}

.is-masking {
  overflow: hidden !important;
}
