/* ## Nav
---------------------------------*/
$nav-color: $grey-mute !default;
$nav-gutter: $spacing-stack-md !default;
$nav-hover-color: $grey-dark !default;
$nav-active-color: $color-primary !default;

$nav-font-size-sm: $text-size-sm !default;
$nav-font-size-md: $text-size-md !default;

$nav-tabs-gutter: $spacing-stack-xs !default;
$nav-tabs-padding: 0.375em 0.75em !default;
$nav-tabs-underline-height: $shape-border-width !default;
$nav-tabs-underline-color: $grey-weak !default;
$nav-tabs-hover-color: $grey-dark !default;
$nav-tabs-active-color: $color-primary !default;
$nav-tabs-active-underline-height: $nav-tabs-underline-height !default;

$nav-pills-gutter: $spacing-stack-xs !default;
$nav-pills-padding: 0.375em 0.75em !default;
$nav-pills-border-radius: $shape-border-radius-md !default;
$nav-pills-hover-bg: $grey-light !default;
$nav-pills-active-bg: $color-primary !default;
$nav-pills-active-color: invert-color($color-primary) !default;

.nav {
  position: relative;
  margin: 0 (0 - $nav-gutter / 2);
  padding: 0;
  list-style: none;
  display: flex;
  font-size: $nav-font-size-md;
}

.nav__item {
  position: relative;
  padding-left: $nav-gutter / 2;
  padding-right: $nav-gutter / 2;
}

.nav__link {
  cursor: pointer;
  display: block;
  color: $nav-color;
  line-height: $line-height-normal;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;

  &:hover {
    color: $nav-hover-color;
  }

  &[disabled],
  &.is-disabled {
    opacity: .3;
    cursor: not-allowed;
  }

  &.is-active {
    color: $nav-active-color;
  }
}

// size modifiers
.nav.nav--sm {
  font-size: $nav-font-size-sm;
}

// layout modifiers
.nav.nav--start {
  justify-content: flex-start;
}

.nav.nav--center {
  justify-content: center;
}

.nav.nav--end {
  justify-content: flex-end;
}

.nav.nav--stretch {
  justify-content: space-around;
  > .nav__item {
    flex: 1 1 0%;
  }
}

// variant modifiers
.nav.nav--pills {
  margin-left: 0 - $nav-pills-gutter / 2;
  margin-right: 0 - $nav-pills-gutter / 2;

  > .nav__item {
    padding-left: $nav-pills-gutter / 2;
    padding-right: $nav-pills-gutter / 2;
  
    > .nav__link {
      padding: $nav-pills-padding;
      border-radius: $nav-pills-border-radius;

      &:hover {
        background-color: $nav-pills-hover-bg;
      }
    }

    &.is-active {
      > .nav__link {
        color: $nav-pills-active-color;
        background-color: $nav-pills-active-bg;
      }
    }
  }
}

.nav.nav--tabs {
  margin-left: 0 - $nav-tabs-gutter / 2;
  margin-right: 0 - $nav-tabs-gutter / 2;
  border-bottom: $nav-tabs-underline-height solid $nav-tabs-underline-color;

  > .nav__item {
    padding-left: $nav-tabs-gutter / 2;
    padding-right: $nav-tabs-gutter / 2;

    > .nav__link {
      padding: $nav-tabs-padding;
      margin: 0 0 (0 - $nav-tabs-underline-height) 0;
      border-bottom: $nav-tabs-active-underline-height solid transparent;
      &:hover {
        color: $nav-tabs-active-color;
      }
    }

    &.is-active {
      > .nav__link {
        color: $nav-tabs-active-color;
        border-bottom-color: $nav-tabs-active-color;
      }
    }
  }
}

