/* ## Dropmenu
---------------------------------*/
// Block
.dropmenu {
  position: relative;
  display: inline-block;
  min-width: $dropmenu-min-width;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  background-color: $dropmenu-bg-color;
  box-shadow: 0 2px 6px 1px rgba($color-black, 0.08);
  border: $dropmenu-border-width solid $dropmenu-border-color;
  border-radius: $dropmenu-border-radius;
}

// Elements
.dropmenu__divider {
  height: 1px;
  margin: $dropmenu-gutter 0;
  background-color: $divider-color;
}

.dropmenu__item {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.dropmenu__link {
  position: relative;
  display: block;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding: $dropmenu-link-padding-y $dropmenu-link-padding-x;
  border-radius: $dropmenu-border-radius;

  &:hover {
    color: $text-color;
    background-color: $grey-lightest;
  }

  &.is-active {
    color: $color-white;
    background-color: $color-primary;
  }

  &.is-disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}

/* ## Dropdown
---------------------------------*/
.dropdown {
  position: relative;
  display: inline-flex;
  .dropmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    z-index: 15;
  }
  
  &.is-open > .dropmenu,
  &__toggle:focus + .dropmenu {
    display: block;
  }
}

.dropdown--up {
  .dropmenu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 4px;
  }
}
