// Controls
// -----------------------------------------------------------------------------
.form-input,
.form-select,
.form-textarea {
  display: block;
  width: 100%;
  padding: $form-input-padding-y $form-input-padding-x;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $form-input-color;
  border: $form-input-border-width solid $form-input-border-color;
  border-radius: $form-input-border-radius;
  background-color: $form-input-bg;
  background-image: none;
  background-clip: padding-box;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // states
  &:focus,
  &:active,
  &.is-focus,
  &.is-active {
    outline: none;
    border-color: $form-input-active-border-color;
  }

  &::placeholder {
    color: $form-input-placeholder-color;
    opacity: 1;
  }

  &.is-success {
    border-color: $color-success;
  }
  &.is-danger {
    border-color: $color-danger;
  }
  &.is-warning {
    border-color: $color-warning;
  }

  &.is-flat {
    &,
    &:focus,
    &:active {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.form-input,
.form-textarea {
  &:disabled {
    color: $muted-color;
    border-color: $form-input-bg-disabled;
    background: $form-input-bg-disabled;
    opacity: 1;
    cursor: not-allowed;
  }
}

// input
.form-input {
  height: $form-input-height-computed;
}

// file
.form-input[type="file"] {
  height: auto;
}

// select
select.form-select {
  cursor: pointer;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
    display: none;
  }

  &:not([multiple]) {
    padding-right: 24px;
    background-color: $form-input-bg;
    background-image: linear-gradient(0, rgba($color-black, 0.03) 0%, rgba($color-black, 0) 100%), #{$icon-arrow-down};
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right center;
  }

  &:disabled {
    color: $muted-color;
    border-color: $form-input-bg-disabled !important;
    background: $form-input-bg-disabled;
    opacity: 1;
    cursor: not-allowed;
    &:not([multiple]) {
      background-color: $form-input-bg-disabled;
      background-image: #{$icon-arrow-down};
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  &[multiple] {
    padding: $space-inset-xs;
    height: auto;
    option {
      padding: $form-input-padding-y $form-input-padding-x;
      border-radius: $form-input-border-radius;
      margin-bottom: $space-stack-xxs;
    }
  }

  &:hover {
    border-color: darken($form-input-border-color, $mix-level-2);
  }

}

// modifiers
.form-input,
.form-select,
.form-textarea {
  &--sm {
    font-size: $font-size-sm;
    line-height: 1.5;
    padding: $space-squish-s-y $space-squish-s-x;
    height: round(($space-squish-s-y + $form-input-border-width) * 2 + 1.5 * $font-size-sm);
  }

  &--lg {
    font-size: $font-size-lg;
    line-height: 1.5;
    padding: $space-squish-l-y $space-squish-l-x;
    height: round(($space-squish-l-y + $form-input-border-width) * 2 + 1.5 * $font-size-lg);
  }
}

// checkbox
.form-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 4px 16px 4px 24px;
  margin: 0;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__indicator {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background-color: $form-input-bg;
    border: 1px solid $form-input-border-color;
    border-radius: $form-checkbox-border-radius;

    &::after {
      content: ' ';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      background-color: transparent;
    }
  }
}

.form-checkbox input[type="checkbox"] {
  &:disabled {
    + .form-checkbox__indicator {
      opacity: 0.75;
      background-color: $form-input-bg-disabled;
    }
  }
  &:checked {
    + .form-checkbox__indicator::after {
      background-color: map-get($master-palette, 'primary');
    }
  }
}

// radio
.form-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 4px 16px 4px 24px;
  margin: 0;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__indicator {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    border-radius: 8px;
    background-color: $form-input-bg;
    border: 1px solid $form-input-border-color;
    &:after {
      content: ' ';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 4px;
      background-color: transparent;
    }
  }
}

.form-radio input[type="radio"] {
  &:disabled {
    + .form-radio__indicator {
      opacity: 0.75;
      background-color: $form-input-bg-disabled;
    }
  }
  &:checked {
    + .form-radio__indicator:after {
      background-color: map-get($master-palette, 'primary');
    }
  }
}

// switch
.form-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  min-width: 48px;
  padding: 0 0 0 48px;
  margin: 0;
  text-indent: 8px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__indicator {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: $form-switch-bg-color;
    transition: background-color .3s;
    cursor: pointer;

    &::after {
      content: ' ';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: $form-switch-color;
      transition: all .3s;
    }
  }
}

.form-switch input[type="checkbox"] {
  &:disabled {
    ~ .form-switch__indicator {
      opacity: .75;
      cursor: not-allowed;
    }
  }
  &:checked {
    ~ .form-switch__indicator {
      background-color: $form-switch-active-color;
      &::after {
        transform: translateX(24px); // 48 - 2*2 - 20
      }
    }
  }
}

// wrapper
.form-control {
  position: relative;
  color: $form-input-color;
  &.has-icon-start {
    .form-control__icon-start {
      position: absolute;
      left: 18px;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 15;
    }
    .form-input {
      padding-left: 34px;
    }
  }
  &.has-icon-end {
    .form-control__icon-end {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translate(50%, -50%);
      z-index: 20;
    }
    .form-input {
      padding-right: 34px;
    }
  }
}

// Field
// -----------------------------------------------------------------------------
.form-field {
  text-align: left;
  margin-bottom: $form-field-margin-bottom;
}

.form-label {
  display: block;
  color: $heading-color;
  margin: 0 0 $form-label-margin-bottom 0;
}

.form-help {
  display: block;
  color: $muted-color;
  margin: $form-help-margin-top 0 0 0;
}

.form-addon {
  display: inline-flex;
  align-items: center;
  padding: $form-input-padding-y $form-input-padding-x;
  line-height: $line-height-base;
  font-size: $font-size-base;
  border-radius: $form-input-border-radius;
  &:not(.btn) {
    border: $form-input-border-width solid $form-input-border-color;
    background-color: $form-input-addon-bg;
  }
}

.form-plain {
  display: block;
  width: 100%;
  padding: $form-input-padding-y 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $form-input-color;
}

// Controls Group
// -----------------------------------------------------------------------------
.form-group {
  display: flex;
  align-items: stretch;
  
  > .form-control {
    .form-input,
    .form-select {
      border-radius: 0;
    }

    &:nth-child(n+2) {
      margin-left: (0 - $form-input-border-width);
    }

    &:first-child {
      .form-input,
      .form-select {
        border-radius: $form-input-border-radius 0 0 $form-input-border-radius;
      }
    }

    &:last-child {
      .form-input,
      .form-select {
        border-radius: 0 $form-input-border-radius $form-input-border-radius 0;
      }
    }
  }

  > .form-input,
  > .form-select,
  > .form-addon,
  > .btn {
    border-radius: 0;

    &:nth-child(n+2) {
      margin-left: (0 - $form-input-border-width);
    }

    &:first-child {
      border-radius: $form-input-border-radius 0 0 $form-input-border-radius;
    }

    &:last-child {
      border-radius: 0 $form-input-border-radius $form-input-border-radius 0;
    }
  }

  > .form-control {
    flex: 1;
    z-index: 15;
  }

  > .form-input,
  > .form-select {
    flex: 1;
    z-index: 10;
    &:focus {
      z-index: 20;
    }
  }

  > .form-addon {
    z-index: 5;
    &.btn {
      z-index: 15;
    }
  }

  > .btn {
    z-index: 15;
  }

}

// Layouts
// -----------------------------------------------------------------------------
.form-horizontal {
  .form-label {
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding-top: $form-input-padding-y;
  }
}

.form-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .form-field {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: $space-inline-l;
    }
  }

  .form-label {
    display: inline-block;
    margin: 0 $space-inline-m 0 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding-top: $form-input-padding-y;
    padding-bottom: $form-input-padding-y;
  }

  .form-control {
    display: inline-block;
  }

  .form-input,
  .form-select {
    display: inline-block;
    width: auto;
  }

  .form-group {
    display: inline-flex;
  }

}
