@function tint-color($color, $level) {
  @return mix(white, $color, $level * 8%);
}

@function shade-color($color, $level) {
  @return mix(black, $color, $level * 8%);
}

@function invert-color($color, $dark: $grey-dark, $light: $white) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $value: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return if($value >= 150, $dark, $light);
}
