/*
Markup:
<div class="l-row">
  <div class="l-col-3"></div>
</div>
*/

.l-container {
  @include make-container();
  @include make-container-max-widths();
}

.l-container-fluid {
  @include make-container();
}

.l-row {
  @include make-row();

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;
    > [class*="l-col"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.is-start {
    justify-content: flex-start;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-end {
    justify-content: flex-end;
  }
  &.is-around {
    justify-content: space-around;
  }
  &.is-between {
    justify-content: space-between;
  }

  &.is-top {
    align-items: flex-start;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-stretch {
    align-items: stretch;
  }

  &.is-reverse {
    flex-direction: row-reverse;
  }
  &.is-col {
    flex-direction: column;
    &.is-reverse {
      flex-direction: column-reverse;
    }
  }
}

@include make-grid-cols();
@include make-hidden-utils();
@include make-order-utils();
