/*
Markup:
<button class="btn hint {{modifier}}" data-hint="Are you sure?">Save</button> 
*/

.hint {
  position: relative; // absolute or fixed
  overflow: visible;

  &:before,
  &:after {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: 15;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    left: calc(50% - 5px);
    bottom: 100%;
    border-width: 5px 5px 0 5px;
    border-color: $hint-bg-color transparent transparent transparent;
  }

  &:after {
    content: attr(data-hint);
    color: $hint-color;
    font-size: $hint-font-size;
    line-height: $hint-line-height;
    padding: $hint-padding-y $hint-padding-x;
    border-radius: $hint-border-radius;
    background-color: $hint-bg-color;
    white-space: nowrap;
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
    }

    &:before {
      transform: translateY(-4px);
    }
    &:after {
      transform: translateX(-50%) translateY(-4px);
    }
  }
}

// modifiers - size
.hint--sm {
  &:after {
    white-space: normal;
    width: 120px;
  }
}

.hint--md {
  &:after {
    white-space: normal;
    width: 160px;
  }
}

.hint--lg {
  &:after {
    white-space: normal;
    width: 260px;
  }
}

// modifiers - position
.hint--left {

  &:before {
    top: calc(50% - 5px);
    left: auto;
    right: 100%;
    bottom: auto;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $hint-bg-color;
  }

  &:after {
    top: 50%;
    left: auto;
    right: calc(100% + 5px);
    bottom: auto;
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(-4px);
    }
    &:after {
      transform: translateX(-4px) translateY(-50%);
    }
  }

}

.hint--right {

  &:before {
    top: calc(50% - 5px);
    right: auto;
    bottom: auto;
    left: 100%;
    border-width: 5px 5px 5px 0;
    border-color: transparent $hint-bg-color transparent transparent;
  }

  &:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: calc(100% + 5px);
    transform: translateY(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateX(4px);
    }
    &:after {
      transform: translateX(4px) translateY(-50%);
    }
  }

}

.hint--bottom {

  &:before {
    top: 100%;
    right: auto;
    bottom: auto;
    left: calc(50% - 5px);
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $hint-bg-color transparent;
  }

  &:after {
    top: calc(100% + 5px);
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &.hint--always,
  &:hover,
  &:active {
    &:before {
      transform: translateY(4px);
    }
    &:after {
      transform: translateX(-50%) translateY(4px);
    }
  }

}
