/* ## Grid
---------------------------------*/
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;
    > [class*="col"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.is-start {
    justify-content: flex-start;
  }

  &.is-center {
    justify-content: center;
  }

  &.is-end {
    justify-content: flex-end;
  }

  &.is-around {
    justify-content: space-around;
  }

  &.is-between {
    justify-content: space-between;
  }

  &.is-top {
    align-items: flex-start;
  }

  &.is-middle {
    align-items: center;
  }

  &.is-bottom {
    align-items: flex-end;
  }

  &.is-stretch {
    align-items: stretch;
  }

  &.is-reverse {
    flex-direction: row-reverse;
  }

  &.is-column {
    flex-direction: column;
    &.is-reverse {
      flex-direction: column-reverse;
    }
  }
}

@include make-grid-cols();
@include make-hidden-utils();
