/* ## Grid
---------------------------------*/
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;
    > [class*="col"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include make-grid-cols();
@include make-hidden-utils();
