/* ## Bullet
---------------------------------*/
.bullet {
  display: inline-flex;
  align-items: center;

  > * {
    flex: 0 0 auto;
    &:not(:last-child) {
      margin-right: $spacing-stack-md;
    }
  }
}

.bullet--sm {
  > *:not(:last-child) {
    margin-right: $spacing-stack-sm;
  }
}

.bullet--lg {
  > *:not(:last-child) {
    margin-right: $spacing-stack-lg;
  }
}
