/*
Markup:
<div class="l-level">
  <div class="l-level__center">
    <div class="l-level__item">...</div>
    ...
  </div>
  <div class="l-level__left">
    <div class="l-level__item">...</div>
    ...
  </div>
  <div class="l-level__right">
    <div class="l-level__item">...</div>
    ...
  </div>
</div>
*/

// Block
.l-level {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  > .l-level__item {
    flex: 1 1 0%;
    text-align: center;
  }
}

.l-level__left,
.l-level__center,
.l-level__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:only-child {
    width: 100%;
  }
  
  > .l-level__item:not(:last-child) {
    margin-right: $level-item-margin-x;
  }
  
}

.l-level__left {
  order: 1;
  justify-content: flex-start;
}

.l-level__center {
  order: 2;
  justify-content: center;
}

.l-level__right {
  order: 3;
  justify-content: flex-end;
}

.l-level__center ~ .l-level__left,
.l-level__center ~ .l-level__right {
  flex: 1 0 0%;
}
