/* ## Level
---------------------------------*/
// Block
.l-level {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .l-level__item {
    flex-grow: 1;
  }
}

.l-level__left,
.l-level__center,
.l-level__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:only-child {
    width: 100%;
  }
  
  > .l-level__item:not(:last-child) {
    margin-right: $level-item-margin-x;
  }
  
}

.l-level__left {
  order: 1;
  justify-content: flex-start;
}

.l-level__center {
  order: 2;
  justify-content: center;
}

.l-level__right {
  order: 3;
  justify-content: flex-end;
}

.l-level__center ~ .l-level__left,
.l-level__center ~ .l-level__right {
  flex: 1 0 0%;
}

.l-level__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

// Modifiers
@each $breakpoint, $value in $grid-breakpoints {
  $suffix: "\\@#{$breakpoint}";

  @include media-breakpoint-down($breakpoint) {
    .l-level.l-level--break#{$suffix} {
      display: block;
      .l-level__center {
        order: 0;
      }
      .l-level__item:not(:last-child) {
        margin: 0 0 $space-stack-s 0;
      }
      .l-level__left,
      .l-level__right,
      .l-level__center {
        flex-direction: column;
        justify-content: center;
        &:not(:last-child) {
          margin-bottom: $space-stack-base;
        }
      }
    }
  }
}
