/*
Markup:
<ul class="list">
  <li class="list__item">
    <a href="#" class="list__link">Profile</a>
  </li>
  <li class="list__item">
    <a href="#" class="list__link">Likes</a>
  </li>
  <li class="list__item">
    <a href="#" class="list__link">Bills</a>
  </li>
  <li class="list__item">
    <a href="#" class="list__link">Logout</a>
  </li>
</ul>
*/

// Block
.list {
  margin: 0 0 $list-margin-bottom 0;
  padding: 0;
  list-style: none;
}

// Elements
.list__item,
.list__link {
  position: relative;
  display: block;
  padding: $list-item-padding-y-base 0;
  background-color: $list-item-bg-color;

  &:not(:first-child) {
    border-top: $list-border-width solid $list-border-color;
  }

}

.list__link {
  color: inherit;
  cursor: pointer;

  &:hover {
    background-color: $list-item-hover-bg;
  }

  &.is-active {
    color: $list-item-active-color;
    background-color: $list-item-active-bg-color !important;
    border-color: $list-item-active-bg-color !important;
    z-index: 2;
  }
}

// Modifiers
.list--inset {
  .list__item,
  .list__link {
    padding-left: $list-item-padding-x-base;
    padding-right: $list-item-padding-x-base;
  }
}

.list--bordered {
  .list__item,
  .list__link {
    padding: $list-item-padding-y-base $list-item-padding-x-base;
    border: $list-border-width solid $list-border-color;
    margin-bottom: (0 - $list-border-width);

    &:first-child {
      border-top-left-radius: $list-border-radius;
      border-top-right-radius: $list-border-radius;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: $list-border-radius;
      border-bottom-right-radius: $list-border-radius;
    }
  }
}

.list--transparent {
  .list__item,
  .list__link {
    background-color: transparent;
  }
}

.list--sm {
  .list__item,
  .list__link {
    padding: $list-item-padding-y-sm 0;
  }

  &.list--bordered,
  &.list--inset {
    .list__item {
      padding: $list-item-padding-y-sm $list-item-padding-x-sm;
    }
  }
}

.list--lg {
  .list__item,
  .list__link {
    padding: $list-item-padding-x-lg 0;
  }

  &.list--bordered,
  &.list--inset {
    .list__item,
    .list__link {
      padding: $list-item-padding-y-lg $list-item-padding-x-lg;
    }
  }
}
