/* ## Modal
---------------------------------*/
// Container
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: $modal-padding;
  z-index: $modal-zIndex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  &.is-hidden {
    display: none;
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $modal-width-base;
  width: 100%;
  margin: auto;
  background-color: $modal-bg-color;
  border-radius: $modal-border-radius;
}

.modal__header {
  position: relative;
  flex-shrink: 0;
  padding: $modal-padding;
}

.modal__title {
  margin: 0;
  font-weight: 500;
  font-size: $modal-title-font-size;
}

.modal__close {
  position: absolute;
  right: $modal-padding;
  top: $modal-padding;
  font-size: 22px;
  line-height: 1;
  opacity: 0.75;
  cursor: pointer;
}

.modal__body {
  flex: 1 1 auto;
  padding: $modal-padding;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.modal__footer {
  flex-shrink: 0;
  padding: $modal-padding;
  text-align: right;
}

// Modifiers
.modal.modal--sm {
  max-width: $modal-width-sm;
}

.modal.modal--lg {
  max-width: $modal-width-lg;
}

/*
Markup:
<body class="is-masking">
  ...
  <div class="mask"></div>
</body>
*/
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mask-bg;
  z-index: $mask-zIndex;
}

body.is-masking {
  overflow: hidden;
}
