/*
Markup:
<nav class="navbar">
  <div class="navbar__start">
    <a href="#" class="navbar__item"></a>
  </div>
  <div class="navbar__end">

  </div>
</nav>
*/

// Block
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  height: $navbar-height;
}

// Elements
.navbar__start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.navbar__end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.navbar__item {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $navbar-color;
  font-size: $navbar-font-size;
  &:not(:last-child) {
    margin-right: $navbar-item-margin-x;
  }
}

.navbar__brand {
  font-size: 28px;
  line-height: 1.2;
}
