/*
Markup:
<ul class="nav {{modifier}}">
  <li class="nav__item">
    <a href="#" class="nav__link"></a>
  </li>
</ul>
*/

// Block
.nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Elements
.nav__item {

}

.nav__link {
  position: relative;
  display: block;
  line-height: $line-height-base;
  font-size: $font-size-base;
  cursor: pointer;
  &[disabled],
  &.is-disabled {
    opacity: .65;
    cursor: not-allowed;
  }
}

// Modifiers
.nav.nav--menus {
  > .nav__item {
    &:not(:last-child) {
      margin-bottom: $nav-menus-item-margin-y;
    }
    > .nav__link {
      color: $nav-menus-link-color;
      padding: $nav-menus-link-padding-base-y $nav-menus-link-padding-base-x;
      border-radius: $nav-menus-link-border-radius-base;
      &:hover {
        background-color: $nav-menus-link-hover-bg;
      }
      &.is-active {
        color: $nav-menus-link-active-color;
        background-color: $nav-menus-link-active-bg;
      }
    }
  }

  > .nav__divider {
    height: 1px;
    margin-top: $space-stack-xs;
    margin-bottom: $space-stack-xs;
    background-color: $nav-menus-divider-color;
  }

  .nav--menus {
    margin: $nav-menus-item-margin-y 0 $nav-menus-item-margin-y $space-stack-s;
  }
}

.nav.nav--pills {
  display: flex;
  > .nav__item {
    &:not(:last-child) {
      margin-right: $nav-pills-item-margin-x;
    }
    > .nav__link {
      color: $nav-pills-link-color;
      text-align: center;
      padding: $nav-pills-link-padding-base-y $nav-pills-link-padding-base-x;
      border-radius: $nav-pills-link-border-radius-base;
      &:hover {
        background-color: $nav-pills-link-hover-bg;
      }
      &.is-active {
        color: $nav-pills-link-active-color;
        background-color: $nav-pills-link-active-bg;
      }
    }
  }
}

.nav.nav--tabs {
  display: flex;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  > .nav__item {
    margin-bottom: (0 - $nav-tabs-border-width);
    &:not(:last-child) {
      margin-right: $nav-tabs-item-margin-x;
    }
    > .nav__link {
      color: $nav-tabs-link-color;
      padding: $nav-tabs-link-padding-base-y $nav-tabs-link-padding-base-x;
      border-radius: $nav-tabs-link-border-radius-base $nav-tabs-link-border-radius-base 0 0;
      border: $nav-tabs-link-border-width solid transparent;
      &:hover {
        color: $nav-tabs-link-hover-color;
      }
      &.is-active {
        color: $nav-tabs-link-active-color;
        border-color: $nav-tabs-link-border-color $nav-tabs-link-border-color $nav-tabs-link-active-bg;
        background-color: $nav-tabs-link-active-bg;
      }
    }
  }
}

// sizes
.nav.nav--sm {
  > .nav__item {
    > .nav__link {
      font-size: $font-size-sm;
    }
  }

  &.nav--menus {
    > .nav__item {
      > .nav__link {
        padding: $nav-menus-link-padding-sm-y $nav-menus-link-padding-sm-x;
        border-radius: $nav-menus-link-border-radius-sm;
      }
    }
  }

  &.nav--pills {
    > .nav__item {
      > .nav__link {
        padding: $nav-pills-link-padding-sm-y $nav-pills-link-padding-sm-x;
        border-radius: $nav-pills-link-border-radius-sm;
      }
    }
  }

  .nav--tabs {
    > .nav__item {
      > .nav__link {
        padding: $nav-tabs-link-padding-sm-y $nav-tabs-link-padding-sm-x;
        border-radius: $nav-tabs-link-border-radius-sm $nav-tabs-link-border-radius-sm 0 0;
      }
    }
  }
}

.nav.nav--lg {
  > .nav__item {
    > .nav__link {
      font-size: $font-size-lg;
    }
  }

  &.nav--menus {
    > .nav__item {
      > .nav__link {
        padding: $nav-menus-link-padding-lg-y $nav-menus-link-padding-lg-x;
        border-radius: $nav-menus-link-border-radius-lg;
      }
    }
  }

  &.nav--pills {
    > .nav__item {
      > .nav__link {
        padding: $nav-pills-link-padding-lg-y $nav-pills-link-padding-lg-x;
        border-radius: $nav-pills-link-border-radius-lg;
      }
    }
  }

  .nav--tabs {
    > .nav__item {
      > .nav__link {
        padding: $nav-tabs-link-padding-lg-y $nav-tabs-link-padding-lg-x;
        border-radius: $nav-tabs-link-border-radius-lg $nav-tabs-link-border-radius-lg 0 0;
      }
    }
  }
}
