/* ## Pagination
---------------------------------*/
// Block
.pagination {
  display: flex;
  flex-wrap: wrap;
}

// Elements
.pagination__item {
  position: relative;
  display: inline-block;
  min-width: $pagination-item-min-width;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $pagination-item-color;
  padding: $pagination-item-padding-base-y $pagination-item-padding-base-x;
  border-radius: $pagination-item-border-radius;
  border: $pagination-item-border-width solid transparent;
  z-index: 5;
  &:hover {
    background-color: $pagination-item-hover-bg;
  }

  &.is-active {
    color: $pagination-item-active-color;
    background-color: $pagination-item-active-bg;
    border-color: $pagination-item-active-bg !important;
    background-color: $pagination-item-active-bg;
    z-index: 10;
  }

  &.is-disabled {
    color: rgba($pagination-item-color ,.65);
    cursor: not-allowed;
  }
}

span.pagination__item {
  color: rgba($pagination-item-color ,.65);
  cursor: not-allowed;
}

// Modifiers
.pagination--bordered {
  .pagination__item {
    min-width: $pagination-item-min-width;
    border-color: $pagination-item-border-color;
    margin-left: - $pagination-item-border-width;
    background-color: $pagination-item-bg;

    &:hover {
      background-color: $pagination-item-hover-bg;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      border-radius: 0;
    }

    &.is-active {
      color: $pagination-item-active-color;
      background-color: $pagination-item-active-bg;
    }

    &.is-disabled {
      background-color: $pagination-item-disabled-bg;
    }
  }
}

.pagination--sm {
  .pagination__item {
    min-width: 26px;
    font-size: $font-size-sm;
    padding: 4px 8px;
    border-radius: 2px;
  }
}
