/* ## Progress
---------------------------------*/
// block
.progress {
  position: relative;
  display: block;
  width: 100%;
  height: $progress-height-base;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: $progress-height-lg;
  background-color: $progress-bg-color;
  overflow: hidden;

  &__bar {
    position: relative;
    float: left;
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: $progress-bar-bg-color-default;
  }
}

// modifiers
@each $modifier, $value in $master-palette {
  .progress.progress--#{$modifier} {
    .progress__bar {
      background-color: $value;
    }
  }
}

.progress.progress--sm {
  height: $progress-height-sm;
}

.progress.progress--lg {
  height: $progress-height-lg;
}

// state
.progress.is-active {
  .progress__bar {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-white;
      animation: progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
    }
  }
}

@keyframes progress-active {
  0% {
    opacity: 0.1;
    width: 0;
  }

  20% {
    opacity: 0.5;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}
