/* ## Table
---------------------------------*/
.table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;

  th, td {
    text-align: left;
    padding: $table-td-padding-y $table-td-padding-x;
    vertical-align: middle;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th,
  tfoot th {
    background-color: $table-accent-bg;
  }

  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }
}

// modifiers
.table.table--striped {
  > tr:nth-of-type(even),
  tbody tr:nth-of-type(even) {
    background-color: $table-strip-bg;
  }
}

.table.table--bordered {
  th,
  td {
    border: $table-border-width solid $table-border-color;
  }
}

.table.table--hover {
  tbody tr:hover,
  > tr:hover {
    background-color: $table-hover-color;
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .table--responsive {
    thead,
    tfoot {
      display: none;
    }

    tr {
      display: block;
      &:not(:last-child) {
        border-bottom: 3px solid $divider-color;
      }
    }

    th, td {
      display: block;
      width: 100% !important;
      text-align: right;
      &:before {
        float: left;
        color: $muted-color;
        content: attr(data-label);
      }
    }
  }
}
