.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: .25 !important;
}

.opacity-50 {
  opacity: .5 !important;
}

.opacity-75 {
  opacity: .75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.shadow-sm {
  box-shadow: $shadow-sm !important;
}

.shadow-md {
  box-shadow: $shadow-md !important;
}

.shadow-lg {
  box-shadow: $shadow-lg !important;
}

.shadonw-none {
  box-shadow: none !important;
}
