.opacity-0 {
  opacity: 0 !important;
}

.opacity-30 {
  opacity: .3 !important;
}

.opacity-50 {
  opacity: .5 !important;
}

.opacity-65 {
  opacity: .65 !important;
}

.opacity-85 {
  opacity: .85 !important;
}

.opacity-100 {
  opacity: 1 !important;
}


.shadow-sm {
  box-shadow: $shadow-sm !important;
}

.shadow-md {
  box-shadow: $shadow-md !important;
}

.shadow-lg {
  box-shadow: $shadow-lg !important;
}
