.border-top, .border-y {
  border-top: $shape-border-width solid rgba($black, 0.08) !important;
}

.border-right, .border-x {
  border-right: $shape-border-width solid rgba($black, 0.08) !important;
}

.border-bottom, .border-y {
  border-bottom: $shape-border-width solid rgba($black, 0.08) !important;
}

.border-left, .border-x {
  border-left: $shape-border-width solid rgba($black, 0.08) !important;
}

.border {
  border: $shape-border-width solid rgba($black, 0.08) !important;
}

.border-none {
  border: none !important;
}

.rounded-sm {
  border-radius: $shape-border-radius-sm !important;
}

.rounded-md, .rounded {
  border-radius: $shape-border-radius-md !important;
}

.rounded-lg {
  border-radius: $shape-border-radius-lg !important;
}

.rounded-full {
  border-radius: 1993px !important;
}

.rounded-none {
  border-radius: 0 !important;
}
