// space
// https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// -----------------------------------------------------------------------------
$space-base:                            16px !default;
$space-xxs:                             2px !default;
$space-xs:                              4px !default;
$space-s:                               8px !default;
$space-m:                               16px !default;
$space-l:                               32px !default;
$space-xl:                              64px !default;

// square inset
$space-inset-base:                      16px !default;
$space-inset-xs:                        4px !default;
$space-inset-s:                         8px !default;
$space-inset-m:                         16px !default;
$space-inset-l:                         32px !default;
$space-inset-xl:                        64px !default;

// squish inset
$space-squish-base-y:                   6px !default;
$space-squish-base-x:                   12px !default;

$space-squish-xs-y:                     2px !default;
$space-squish-xs-x:                     4px !default;

$space-squish-s-y:                      4px !default;
$space-squish-s-x:                      8px !default;

$space-squish-m-y:                      6px !default;
$space-squish-m-x:                      12px !default;

$space-squish-l-y:                      8px !default;
$space-squish-l-x:                      16px !default;

$space-squish-xl-y:                     14px !default;
$space-squish-xl-x:                     28px !default;

// stack
$space-stack-base:                      16px !default;
$space-stack-xxs:                       2px !default;
$space-stack-xs:                        4px !default;
$space-stack-s:                         8px !default;
$space-stack-m:                         16px !default;
$space-stack-l:                         32px !default;
$space-stack-xl:                        64px !default;

// inline - x
$space-inline-base:                     8px !default;
$space-inline-xs:                       2px !default;
$space-inline-s:                        4px !default;
$space-inline-m:                        8px !default;
$space-inline-l:                        16px !default;
$space-inline-xl:                       32px !default;
