// Colors
// -----------------------------------------------------------------------------
$color-primary:                         #636AFF !default; // primary
$color-danger:                          #ff2d20 !default; // negative
$color-success:                         #31c971 !default; // positive
$color-info:                            #0069ff !default; // accent
$color-warning:                         #f4c414 !default; // warning

$black:                                 #000000 !default; // for color mix
$grey-dark:                             #212121 !default; // heading, text
$grey-mute:                             #616161 !default; // secondary text, icon
$grey-thin:                             #dbdbdb !default; // border, icon
$grey-weak:                             #e5e5e5 !default; // divider, border
$grey-shade:                            #eeeeee !default; // disabled state
$grey-light:                            #f7f7f7 !default; // white space area
$white:                                 #ffffff !default; // for color mix

$grey-colors: (
  "black": $black,
  "white": $white,
  "dark": $grey-dark,
  "mute": $grey-mute,
  "thin": $grey-thin,
  "weak": $grey-weak,
  "shade": $grey-shade,
  "light": $grey-light
) !default;

$theme-colors: (  
  "primary": $color-primary,
  "danger": $color-danger,
  "success": $color-success,
  "info": $color-info,
  "warning": $color-warning
) !default;

$colors: map-merge($grey-colors, $theme-colors);

// Index
// -----------------------------------------------------------------------------
$zIndex-1: 100 !default;
$zIndex-2: 200 !default;
$zIndex-3: 300 !default;
$zIndex-4: 400 !default;
$zIndex-5: 500 !default;
$zIndex-6: 600 !default;
$zIndex-7: 700 !default;
$zIndex-8: 800 !default;
$zIndex-9: 900 !default;

// Spacing
// -----------------------------------------------------------------------------
// square inset
$spacing-square-xs:                      4px !default;
$spacing-square-sm:                      8px !default;
$spacing-square-md:                      16px !default;
$spacing-square-lg:                      24px !default;
$spacing-square-xl:                      32px !default;

// squish inset
$spacing-squish-xs:                     (4px 8px) !default;
$spacing-squish-sm:                     (6px 12px) !default;
$spacing-squish-md:                     (8px 16px) !default;
$spacing-squish-lg:                     (12px 16px) !default;
$spacing-squish-xl:                     (16px 24px) !default;

// stack
$spacing-stack-xxs:                     2px !default;
$spacing-stack-xs:                      4px !default;
$spacing-stack-sm:                      8px !default;
$spacing-stack-md:                      16px !default;
$spacing-stack-lg:                      24px !default;
$spacing-stack-xl:                      32px !default;
$spacing-stack-xxl:                     64px !default;

$spacings: (
  "0": 0,
  "1": 2px,
  "2": 4px,
  "3": 6px,
  "4": 8px,
  "5": 12px,
  "6": 16px,
  "7": 24px,
  "8": 32px,
  "9": 64px,
) !default;

// Typo
// -----------------------------------------------------------------------------
$text-size-xs:                          12px !default;
$text-size-sm:                          14px !default;
$text-size-md:                          16px !default;
$text-size-lg:                          18px !default;
$text-size-xl:                          20px !default;
$text-size-2xl:                         24px !default;
$text-size-3xl:                         28px !default;
$text-size-4xl:                         32px !default;
$text-size-5xl:                         36px !default;
$text-size-6xl:                         48px !default;
$text-size-7xl:                         64px !default;
$text-size-8xl:                         72px !default;
$text-size-9xl:                         96px !default;
$text-size-base:                        16px !default;

// display
$text-display-lg:                       $text-size-7xl !default;
$text-display-md:                       $text-size-6xl !default;
$text-display-sm:                       $text-size-5xl !default;
// title
$text-title-xl:                         $text-size-4xl !default;
$text-title-lg:                         $text-size-3xl !default;
$text-title-md:                         $text-size-2xl !default;
$text-title-sm:                         $text-size-xl !default;
$text-title-xs:                         $text-size-lg !default;
// base
$text-lg:                               $text-size-lg !default;
$text-md:                               $text-size-md !default;
$text-sm:                               $text-size-sm !default;
// meta
$text-meta-lg:                          $text-size-md !default;
$text-meta-md:                          $text-size-sm !default;
$text-meta-sm:                          $text-size-xs !default;

$text-sizes: (
  // display
  "display-lg": $text-display-lg,
  "display-md": $text-display-md,
  "display-sm": $text-display-sm,
  // title
  "title-xl": $text-title-xl,
  "title-lg": $text-title-lg,
  "title-md": $text-title-md,
  "title-sm": $text-title-sm,
  "title-xs": $text-title-xs,
  // base
  "lg": $text-lg,
  "md": $text-md,
  "sm": $text-sm,
  // meta
  "meta-lg": $text-meta-lg,
  "meta-md": $text-meta-md,
  "meta-sm": $text-meta-sm
) !default;

$line-height-tight:                     1.25 !default;
$line-height-compact:                   1.375 !default;
$line-height-normal:                    1.5 !default;
$line-height-relaxed:                   1.625 !default;
$line-height-loose:                     2 !default;

$line-heights: (
  "tight": $line-height-tight,
  "compact": $line-height-compact,
  "normal": $line-height-normal,
  "relaxed": $line-height-relaxed,
  "loose": $line-height-loose
) !default;

$font-weight-light:                     300 !default;
$font-weight-normal:                    400 !default;
$font-weight-medium:                    500 !default;
$font-weight-semi:                      600 !default;
$font-weight-bold:                      700 !default;
$font-weight-base:                      $font-weight-normal !default;

$font-weights: (
  "light": $font-weight-light,
  "normal": $font-weight-normal,
  "medium": $font-weight-medium,
  "semi": $font-weight-semi,
  "bold": $font-weight-bold
) !default;

$font-family-base:                      -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif !default;

$h1-font-size:                          $text-size-4xl !default;
$h2-font-size:                          $text-size-3xl !default;
$h3-font-size:                          $text-size-2xl !default;
$h4-font-size:                          $text-size-xl !default;
$h5-font-size:                          $text-size-lg !default;
$h6-font-size:                          $text-size-md !default;

$heading-font-weight:                   $font-weight-semi !default;
$heading-line-height:                   $line-height-tight !default;

$body-text-color:                       $grey-dark !default;
$body-text-size:                        $text-size-base !default;
$body-line-height:                      $line-height-normal !default;
$body-font-family:                      $font-family-base !default;
$body-bg:                               $white !default;

$link-color:                            $color-primary !default;
$code-color:                            #d73e48 !default;
$code-bg:                               #fcf2f2 !default;

// Elevation
// -----------------------------------------------------------------------------
$shadow-sm:                             0 1px 2px rgba($black, .08) !default;
$shadow-md:                             0 2px 6px rgba($black, .08), 0 0 0 1px rgba($black, 0.04) !default;
$shadow-lg:                             0 4px 16px rgba($black, 0.2), 0 0 0 1px rgba($black, 0.04) !default;

// Grid
// -----------------------------------------------------------------------------
$grid-columns:                          12 !default;
$grid-gutter-width:                     16px !default;

$grid-breakpoints: (
  "xs": 0, // mobile
  "sm": 768px, // tablet
  "md": 1000px, // desktop
  "lg": 1200px,  // large screen
) !default;

$container-max-widths: (
  "xs": 100%,
  "sm": 100%,
  "md": 980px,
  "lg": 1180px
) !default;

// Components
// -----------------------------------------------------------------------------
$component-border-radius-sm:             2px !default;
$component-border-radius-md:             3px !default;
$component-border-radius-lg:             5px !default;
$component-border-width:                 1px !default;
$component-bg:                           $white !default;
