@import 'vars-space';
@import 'vars-zindex';

// Colors
// -----------------------------------------------------------------------------
$master-palette: (
  primary: #7872ff,  // your brand digital color
  info: #3381FF,
  success: #4caf50,
  danger: #f44336,
  warning: #ff9800,
  // shine: #e91e63, you can add more
) !default;

$grey-darkest:                           #161616 !default;
$grey-dark:                              #333333 !default; // text
$grey-base:                              #4D4C4C !default; // sub
$grey-light:                             #888888 !default; // meta, help
$grey-lighter:                           #e4e4e3 !default; // #e5e5e5, disabled
$grey-lightest:                          #f2f2f2 !default; // #f5f5f5,

$color-black:                            #000 !default;
$color-white:                            #fff !default;

// colors used for form validation etc.
$color-success:                         #4caf50 !default;
$color-danger:                          #f44336 !default;
$color-warning:                         #ff9800 !default;

$divider-color:                          rgba($color-black, 0.1) !default;
$border-color:                           #ddd !default;
$border-width:                           1px !default;
$border-radius-sm:                       2px !default;
$border-radius-base:                     3px !default;
$border-radius-lg:                       5px !default;

$element-bg-color:                       $color-white !default;
$element-bg-hover-color:                 rgba($color-black,.06) !default;
$element-bg-active-color:                rgba($color-black,.04) !default;

// color transformations
$mix-level-4:                           40% !default;
$mix-level-3:                           20% !default;
$mix-level-2:                           10% !default;
$mix-level-1:                           5% !default;

// Typography
// -----------------------------------------------------------------------------
$heading-color:                         $grey-dark !default;
$text-color:                            $grey-dark !default;
$muted-color:                           $grey-light !default;

$heading-line-height:                   1.2  !default;
$fontSize-h1:                           32px !default;
$fontSize-h2:                           28px !default;
$fontSize-h3:                           24px !default;
$fontSize-h4:                           20px !default;
$fontSize-h5:                           18px !default;
$fontSize-h6:                           14px !default;

$font-size-base:                        14px !default; // default text size of body, elements, components
$font-size-lg:                          16px !default; // large text size of elements, components
$font-size-sm:                          12px !default; // small text size of meta-text, elements, components

$line-height-base:                      1.42857143 !default;
$line-height-computed:                  round($font-size-base * $line-height-base); // 20px

$body-font-family:                      "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif !default;
$body-bg:                               $color-white !default;
$body-color:                            $text-color;

$link-color:                            #0073AA !default;
$link-decoration:                       none !default;
$link-hover-color:                      darken($link-color, 10%) !default;
$link-hover-decoration:                 none !default;

// Grid
// -----------------------------------------------------------------------------
$grid-columns:                          12 !default;
$grid-gutter-width-base:                20px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
) !default;

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 980px,
  lg: 1180px
) !default;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base, // 20px
  sm: $grid-gutter-width-base, // 20px
  md: $grid-gutter-width-base, // 20px
  lg: $grid-gutter-width-base, // 20px
) !default;

// Level
// -----------------------------------------------------------------------------
$level-item-margin-x:                   $space-inline-l !default;

// Form
// -----------------------------------------------------------------------------
$form-group-margin-bottom:              $space-stack-base !default;
$form-label-margin-bottom:              $space-stack-xs !default;
$form-help-margin-top:                  $space-stack-xs !default;
$form-input-padding-y:                  $space-squish-base-y !default;
$form-input-padding-x:                  $space-squish-base-x !default;

$form-input-color:                      $text-color;
$form-input-placeholder-color:          $muted-color;
$form-input-bg:                         $color-white !default;
$form-input-bg-disabled:                $grey-lightest !default;
$form-input-border-color:               #ccc !default;
$form-input-border-width:               $border-width !default;
$form-input-border-radius:              $border-radius-base !default;
$form-input-addon-bg:                   $grey-lightest !default;
$form-input-icon-padding:               $space-l;
$form-checkbox-border-radius:           0 !default;
$form-input-height-computed:            round(($form-input-padding-y + $form-input-border-width) * 2 + $line-height-computed) !default; // 34px

// Button
// -----------------------------------------------------------------------------
$button-default-color:                  $link-color !default;
$button-border-radius-sm:               $border-radius-sm !default;
$button-border-radius-base:             $border-radius-base !default;
$button-border-radius-lg:               $border-radius-lg !default;
$button-border-width:                   $border-width !default;
$button-padding-sm-y:                   $space-squish-s-y !default;
$button-padding-sm-x:                   $space-squish-s-x !default;
$button-padding-base-y:                 $space-squish-base-y !default;
$button-padding-base-x:                 $space-squish-base-x !default;
$button-padding-lg-y:                   $space-squish-l-y !default;
$button-padding-lg-x:                   $space-squish-l-x !default;
$button-height-computed:                round(($button-padding-base-y + $button-border-width) * 2 + $line-height-computed) !default; // 34px

// Table
// -----------------------------------------------------------------------------
$table-margin-bottom:                   $space-stack-base !default;
$table-body-margin-top:                 $space-stack-s !default;
$table-td-padding-y:                    $space-squish-l-y !default;
$table-td-padding-x:                    $space-squish-l-x !default;
$table-border-width:                    $border-width !default;
$table-border-color:                    $border-color !default;
$table-bg-accent:                       $grey-lightest !default;

// Progress
// -----------------------------------------------------------------------------
$progress-height-sm:                    4px !default;
$progress-height-base:                  8px !default;
$progress-height-lg:                    12px !default;
$progress-margin-bottom:                $space-stack-base !default;
$progress-bg-color:                     $element-bg-active-color !default;
$progress-bar-bg-color-default:         $color-success !default;

// Badges
// -----------------------------------------------------------------------------
$badge-color-default:                   $text-color !default;
$badge-bg-color-default:                $grey-lightest !default;
$badge-padding-y-base:                  $space-squish-s-y !default;
$badge-padding-x-base:                  $space-squish-s-x !default;

// Hint
// -----------------------------------------------------------------------------
$hint-color:                            #fff !default;
$hint-font-size:                        14px !default;
$hint-line-height:                      20px !default;
$hint-bg-color:                         rgba(0,0,0,.8) !default;
$hint-padding-y:                        $space-squish-s-y !default;
$hint-padding-x:                        $space-squish-s-x !default;
$hint-border-radius:                    0 !default;

// List
// -----------------------------------------------------------------------------
$list-margin-bottom:                    $space-stack-base !default;
$list-item-padding-y-sm:                $space-squish-base-y !default;
$list-item-padding-x-sm:                $space-squish-base-x !default;
$list-item-padding-y-base:              $space-squish-l-y !default;
$list-item-padding-x-base:              $space-squish-l-x !default;
$list-item-padding-y-lg:                $space-squish-xl-y !default;
$list-item-padding-x-lg:                $space-squish-xl-x !default;
$list-item-bg-color:                    $element-bg-color;
$list-border-width:                     $border-width !default;
$list-border-color:                     $border-color !default;
$list-border-radius:                    $border-radius-base !default;
$list-item-hover-bg:                    $element-bg-hover-color !default;

// Drop
// -----------------------------------------------------------------------------
$drop-bg-color:                         $element-bg-color !default;
$drop-border-color:                     $border-color !default;
$drop-border-width:                     $border-width !default;
$drop-border-radius:                    $border-radius-base !default;
$drop-content-min-width:                160px !default;
$drop-content-padding:                  $space-inset-xs;
$drop-content-gutter:                   $space-stack-xs;

// Modal
// -----------------------------------------------------------------------------
$modal-width-sm:                        480px !default;
$modal-width-base:                      600px !default;
$modal-width-lg:                        900px !default;
$modal-bg-color:                        $element-bg-color !default;
$modal-margin:                          $space-inset-base !default;
$modal-padding:                         $space-inset-base !default;
$modal-border-radius:                   $border-radius-lg !default;
$modal-border-width:                    $border-width !default;
$modal-divider-color:                   $divider-color !default;
$backdrop-bg-color:                     rgba($color-black,.5) !default;

// Nav
// -----------------------------------------------------------------------------
$nav-inline-item-margn-x:               $space-inline-xs !default;
$nav-stacked-item-margin-y:             $space-stack-xxs !default;
$nav-link-padding-sm-y:                 $space-squish-s-y !default;
$nav-link-padding-sm-x:                 $space-squish-s-x !default;
$nav-link-padding-base-y:               $space-squish-base-y !default;
$nav-link-padding-base-x:               $space-squish-base-x !default;
$nav-link-padding-lg-y:                 $space-squish-l-y !default;
$nav-link-padding-lg-x:                 $space-squish-l-x !default;
$nav-border-color:                      $border-color !default;
$nav-border-width:                      $border-width !default;
$nav-divider-color:                     $divider-color !default;
$nav-sub-margin-x:                      $space-stack-s !default;

$nav-tabs-item-margin-x:                $space-inline-s !default;
$nav-tabs-link-border-radius-sm:        $border-radius-sm !default;
$nav-tabs-link-border-radius-base:      $border-radius-base !default;
$nav-tabs-link-border-width:            $border-width !default;
$nav-tabs-link-border-color:            $border-color !default;
$nav-tabs-link-hover-bg:                $element-bg-hover-color !default;

$nav-pills-item-margin-x:               $space-inline-s !default;
$nav-pills-link-border-radius-sm:       $border-radius-sm !default;
$nav-pills-link-border-radius-base:     $border-radius-base !default;
$nav-pills-link-border-color:           $border-color !default;
$nav-pills-link-hover-bg:               $element-bg-hover-color !default;

// Navbar @TODO
// -----------------------------------------------------------------------------
$navbar-height:                         50px !default;
$navbar-font-size:                      $font-size-lg;
$navbar-item-margin-x:                  $space-inline-l !default;

// @TODO
$navbar-light-color:                    rgba($color-white, 0.8) !default;

// Pagination
// -----------------------------------------------------------------------------
$pagination-item-padding-base-y:        $space-squish-base-y !default;
$pagination-item-padding-base-x:        $space-squish-base-x !default;
$pagination-item-border-radius:         $border-radius-base !default;
$pagination-item-border-width:          $border-width !default;
$pagination-item-min-width:             ($line-height-computed + ($pagination-item-padding-base-y + $pagination-item-border-width) * 2) !default;
$pagination-item-border-color:          $border-color !default;
$pagination-item-hover-bg:              $element-bg-hover-color !default;
$pagination-item-bg:                    $element-bg-color !default;

// Notices & Box
// -----------------------------------------------------------------------------
$box-margin-bottom:                     $space-stack-l !default;
$box-padding-y:                         $space-squish-l-y !default;
$box-padding-x:                         $space-squish-l-x !default;
$box-heading-color:                     $heading-color !default;
$box-heading-bg:                        $grey-lightest !default;
$box-body-bg:                           $element-bg-color !default;
$box-border-width:                      $border-width !default;
$box-border-color:                      $border-color !default;
$box-border-radius:                     $border-radius-base !default;

$note-color:                            $text-color !default;
$note-bg-color:                         $grey-lightest !default;
$note-border-color:                     $border-color !default;
$note-border-width:                     $border-width !default;
$note-border-radius:                    $border-radius-base !default;
$note-padding:                          $space-inset-base !default;
$note-margin-bottom:                    $space-stack-l !default;

$note-palette: (
  danger: (bg: #f2dede, border: #ebccd1, text: #a94442),
  info: (bg: #d9edf7, border: #bde2fb, text: #31708f),
  success: (bg: #dff0d8, border: #d6e9c6, text: #3c763d),
  warning: (bg: #fcf8e3, border: #faebcc, text: #8a6d3b)
) !default;

$box-palette: (
  danger: (bg: #f2dede, border: #ebccd1, text: #a94442),
  info: (bg: #d9edf7, border: #bde2fb, text: #31708f),
  success: (bg: #dff0d8, border: #d6e9c6, text: #3c763d),
  warning: (bg: #fcf8e3, border: #faebcc, text: #8a6d3b)
) !default;

$icon-arrow-down: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='6' viewBox='0 1 8 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%239E9E9E' d='M0 0h8L4 5z' fill-rule='evenodd'/%3E%3C/svg%3E") !default;
