@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

body {
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* ## Site
---------------------------------*/
.site {

}

  .site__header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-weak;
    background-color: $white;
    z-index: 10;
  }

    .site__navbar {
      width: 100%;
      max-width: 1280px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;
    }
      .site__metadata {
        display: flex;
        align-items: center;
        color: $grey-mute;
        font-size: $text-size-sm;
      
        > * {
          display: inline-flex;
          color: inherit;
          flex-shrink: 0;
          margin-right: $spacing-stack-md;
        }
      }    
  
  .site__content {
    display: flex;
    align-items: flex-start;
    max-width: 1280px;
    padding: $spacing-stack-xl 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
  }
    .site__sidebar {
      position: sticky;
      top: 70px + $spacing-stack-xl;
      width: 220px;
      flex: 0 0 220px;
      padding-right: 20px;
      margin-right: 40px;
      border-right: 1px solid $grey-weak;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
      .site__footer {
        color: $grey-mute;
        font-size: $text-size-xs;
        line-height: $line-height-normal;
        a {
          color: $grey-dark;
        }
      }

    .site__main {
      flex: 1 1 820px;
      max-width: 820px;
      min-height: 1px;
      padding-bottom: $spacing-stack-xl;
    }

    .site__catalogue {
      position: sticky;
      top: 70px + $spacing-stack-xl;
      width: 140px;
      flex: 0 0 140px;
      min-height: 1px;
      margin-left: 40px;
      padding-left: 20px;
      border-left: 1px solid $grey-weak;
      color: $grey-mute;
      font-size: $text-size-xs;
      line-height: $line-height-normal;

      a {
        display: block;
        color: inherit;
        &:hover {
          color: $grey-dark;
        }
      }
    }

@include media-breakpoint-down(md) {
  // .site__content {
  //   display: block;
  // }

  .site__sidebar {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 0;
    background-color: $white;
    z-index: 15;
    transition: transform 300ms ease;

    &.is-open {
      box-shadow: 0 0 20px rgba($black, 0.1);
      transform: translate(220px, 0);
    }
  }

  .site__main {
    max-width: calc(100% - 180px);
    flex: 1 1 auto;
  }
}

@include media-breakpoint-down(sm) {
  .site__main {
    max-width: 100%;
  }

  .site__catalogue {
    display: none;
  }
}

/* ## Article
---------------------------------*/
.article {
  > h1 {
    position: relative;
    margin-top: 0;

    span {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        height: 8px;
        background-color: tint-color($color-primary, 11);
        z-index: -1;
      }
    }
  }

  > h2 {
    position: relative;

    &:hover .anchor {
      display: block;
    }
    
    .anchor {
      position: absolute;
      display: none;
      color: $color-primary;
      right: 100%;
      padding-right: $spacing-stack-sm;
      &::after {
        content: '#';
      }
    }
  }

  > h2 {
    font-size: $text-size-2xl;
  }

  > h3, > h4, > h5, > h6 {
    font-size: $text-size-base;
  }
}

/* ## Elements
---------------------------------*/
.rect {
  display: inline-block;
  padding: $spacing-square-md;
  background-color: $grey-light;
  &.is-2x {
    padding: $spacing-square-lg;
  }
  &.is-3x {
    padding: $spacing-square-xl;
  }
}

.circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 1993px;
  background-color: $grey-light;
  &.is-2x {
    width: 64px;
    height: 64px;
  }
  &.is-3x {
    width: 96px;
    height: 96px;
  }
}

.rect-box {
  min-height: 42px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $grey-weak;
  background-color: $grey-light;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
  &.is-3 {
    min-height: 3 * 42px;
  }
  &.is-2 {
    min-height: 2 * 42px;
  }
}

.icon-menu {
  position: relative;
  color: $grey-dark;
  display: inline-block;
  width: 18px;
  height: 16px;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
}
