// badge variant
// -----------------------------------------------------------------------------
@mixin badge-variant(
  $background,
  $border: $background,
  $color: invert-color($background)
) {
  color: $color;
  border-color: $border;
  background-color: $background;

  &.badge--link {
    cursor: pointer;
    &:hover {
      border-color: darken($background, 2.5%);
      background-color: darken($background, 2.5%);
    }
    &:active {
      border-color: darken($background, 5%);
      background-color: darken($background, 5%);
    }
  }
}
