// badge variant
// -----------------------------------------------------------------------------
@mixin badge-variant(
  $background,
  $color: round-color($background)
) {
  color: $color;
  background-color: $background;
  
  &.badge--link {
    cursor: pointer;
    &:hover {
      background-color: shade-color($background, 1);
    }
    &:active {
      background-color: shade-color($background, 2);
    }
  }
}
