// box variant
// -----------------------------------------------------------------------------
@mixin box-variant($color, $border, $background) {
  .box__header {
    color: $color;
    border-color: $border;
    background-color: $background;
  }

  .box__body {
    border-color: $border;
  }
}
