// note variant
// -----------------------------------------------------------------------------
@mixin note-variant($background, $color: invert-color($background)) {
  color: $color;
  background-color: $background,;

  a {
    color: shade-color($color, 2);
    &:hover {
      color: shade-color($color, 3);
    }
  }
}
