// note variant
// -----------------------------------------------------------------------------
@mixin note-variant($background, $color: invert-color($background)) {
  color: $color;
  background-color: $background;

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}
