.u-scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.u-block {
  display: block !important;
}

.u-centerBlock {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-inline {
  display: inline !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-floatRight {
  float: right !important;
}

.u-floatLeft {
  float: left !important;
}
