.u-rounded {
  border-radius: $border-radius-base !important;
}

.u-circle {
  border-radius: 1993px !important;
}

.u-bb-0 {
  border-bottom: 0 !important;
}

.u-bl-0 {
  border-left: 0 !important;
}

.u-bt-0 {
  border-top: 0 !important;
}

.u-br-0 {
  border-right: 0 !important;
}

.u-b-0 {
  border: 0 !important;
}