.u-block {
  display: block !important;
}

.u-center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-fr {
  float: right !important;
}

.u-fl {
  float: left !important;
}