.u-flex {
  display: flex !important;
  align-items: center;
}
.u-inline-flex {
  display: inline-flex !important;
  align-items: center;
}
.u-flex-0 {
  flex: 0 0 auto !important;
}
.u-flex-1 {
  flex: 1 1 auto !important;
}
