.u-flex {
  display: flex;
}

.u-inlineFlex {
  display: inline-flex;
}

.u-flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-flexMiddle {
  display: flex;
  align-items: center;
}

.u-inlineFlexMiddle {
  display: flex;
  align-items: center;
}

.u-flex-0 {
  flex: 0 0 auto !important;
}
.u-flex-1 {
  flex: 1 1 auto !important;
}
