.u-textMuted {
  color: $muted-color !important;
}
.u-textCenter {
  text-align: center !important;
},
.u-textRight {
  text-align: right !important;
}
.u-textLeft {
  text-align: left !important;
}
.u-textTruncated {
  @include oneline;
}
.u-textBreak {
  white-space: normal;
  word-wrap: break-word;
}
.u-textNowrap {
  white-space: nowrap;
}

// font sizes
.u-h1 {
  font-size: $fontSize-h1 !important;
  line-height: $heading-line-height;
}
.u-h2 {
  font-size: $fontSize-h2 !important;
  line-height: $heading-line-height;
}
.u-h3 {
  font-size: $fontSize-h3 !important;
  line-height: $heading-line-height;
}
.u-h4 {
  font-size: $fontSize-h4 !important;
  line-height: $heading-line-height;
}
.u-h5 {
  font-size: $fontSize-h5 !important;
  line-height: $heading-line-height;
}
.u-h6 {
  font-size: $fontSize-h6 !important;
  line-height: $heading-line-height;
}

.u-fs-12 { font-size: 12px !important }
.u-fs-13 { font-size: 13px !important }
.u-fs-14 { font-size: 14px !important }
.u-fs-16 { font-size: 16px !important }
.u-fs-18 { font-size: 18px !important }
.u-fs-20 { font-size: 20px !important }
.u-fs-24 { font-size: 24px !important }
.u-fs-28 { font-size: 28px !important }
.u-fs-32 { font-size: 32px !important }
.u-fs-48 { font-size: 48px !important }
.u-fs-64 { font-size: 64px !important }
.u-fs-128 { font-size: 128px !important }
