.u-text-muted {
  color: $muted-color !important;
}
.u-text-center {
  text-align: center !important;
}
.u-text-right {
  text-align: right !important;
}
.u-text-left {
  text-align: left !important;
}
.u-text-truncated {
  @include oneline;
}
.u-text-break {
  white-space: normal;
  word-wrap: break-word;
}
.u-text-nowrap {
  white-space: nowrap;
}

// font weight
.u-font-thin {
  font-weight: 200 !important;
}
.u-font-light {
  font-weight: 300 !important;
}
.u-font-normal {
  font-weight: normal !important;
}
.u-font-medium {
  font-weight: 500 !important;
}
.u-font-bold {
  font-weight: bold !important;
}

// line height
.u-leading-none {
  line-height: 1.15 !important;
}
.u-leading-tight {
  line-height: 1.25 !important;
}
.u-leading-normal {
  line-height: $line-height-base !important;
}
.u-leading-loose {
  line-height: 2 !important;
}

// style
.u-italic {
  font-style: italic !important;
}
.u-roman {
  font-style: normal !important;
}
.u-uppercase {
  text-transform: uppercase !important;
}
.u-lowercase {
  text-transform: lowercase !important;
}
.u-capitalize {
  text-transform: capitalize !important;
}
.u-normalcase {
  text-transform: none !important;
}
.u-underline {
  text-decoration: underline !important;
}
.u-line-through {
  text-decoration: line-through !important;
}

// font size
.u-h1 {
  font-size: $fontSize-h1 !important;
  line-height: $heading-line-height;
}
.u-h2 {
  font-size: $fontSize-h2 !important;
  line-height: $heading-line-height;
}
.u-h3 {
  font-size: $fontSize-h3 !important;
  line-height: $heading-line-height;
}
.u-h4 {
  font-size: $fontSize-h4 !important;
  line-height: $heading-line-height;
}
.u-h5 {
  font-size: $fontSize-h5 !important;
  line-height: $heading-line-height;
}
.u-h6 {
  font-size: $fontSize-h6 !important;
  line-height: $heading-line-height;
}

.u-fs-12 { font-size: 12px !important; line-height: 1.2 !important; }
.u-fs-13 { font-size: 13px !important; line-height: 1.2 !important; }
.u-fs-14 { font-size: 14px !important; line-height: 1.2 !important; }
.u-fs-16 { font-size: 16px !important; line-height: 1.2 !important; }
.u-fs-18 { font-size: 18px !important; line-height: 1.2 !important; }
.u-fs-20 { font-size: 20px !important; line-height: 1.2 !important; }
.u-fs-24 { font-size: 24px !important; line-height: 1.2 !important; }
.u-fs-28 { font-size: 28px !important; line-height: 1.2 !important; }
.u-fs-32 { font-size: 32px !important; line-height: 1.2 !important; }
.u-fs-48 { font-size: 48px !important; line-height: 1.2 !important; }
.u-fs-64 { font-size: 64px !important; line-height: 1.2 !important; }
.u-fs-128 { font-size: 128px !important; line-height: 1.2 !important; }

@each $breakpoint, $value in $grid-breakpoints {
  $suffix: "";

  @if $value > 0 {
    $suffix: "\\@#{$breakpoint}";
  }

  @include media-breakpoint-up($breakpoint) {
    .u-text-right#{$suffix} {
      text-align: right !important;
    }
    .u-text-center#{$suffix} {
      text-align: center !important;
    }
  }
}
