// badge variant
// -----------------------------------------------------------------------------
@mixin badge-variant($text-color, $background-color) {
  color: $text-color;
  background-color: $background-color;
  
  @at-root {
    a#{&} {
      cursor: pointer;
      &:hover {
        color: $text-color;
        background-color: mix($color-black, $background-color, $mix-level-1);
      }
      &:active {
        color: $text-color;
        background-color: mix($color-black, $background-color, $mix-level-2);
      }
    }
  }
  
}
