// button variant
// -----------------------------------------------------------------------------
@mixin btn-variant($text-color, $background-color, $border-color: transparent) {

  & {
    color: $text-color;
    border-color: $border-color;
    background-color: $background-color;
  }

  &:hover {
    color: $text-color;
    border-color: mix($color-black, $border-color, $mix-level-1);
    background-color: mix($color-black, $background-color, $mix-level-1);
  }

  &:active,
  &.is-active {
    color: $text-color;
    border-color: mix($color-black, $border-color, $mix-level-2);
    background-color: mix($color-black, $background-color, $mix-level-2);
  }

  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active {
      background-color: mix($color-white, $background-color, $mix-level-2);
      border-color: mix($color-white, $border-color, $mix-level-2);
      color: $text-color;
      opacity: .65;
      cursor: not-allowed;
    }
  }

  &.is-loading,
  &[loading] {
    color: transparent;
    &:after {
      border-left-color: $text-color !important;
      border-bottom-color: $text-color !important;
    }
    &:active,
    &:hover {
      color: transparent;
    }
  }
}


@mixin btn-outline-variant($inverse-text-color, $border-color) {
  & {
    color: $border-color;
    background-color: transparent;
    border-color: $border-color;
  }
  
  &:hover {
    color: $inverse-text-color;
    background-color: $border-color;
    border-color: $border-color;
  }
  
  &:active,
  &.is-active {
    color: $inverse-text-color;
    background-color: mix($color-black, $border-color, $mix-level-2);
    border-color: mix($color-black, $border-color, $mix-level-2);
  }

  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active {
      border-color: mix($color-white, $border-color, $mix-level-2);
      color: mix($color-white, $border-color, $mix-level-2);
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  // loading spinner
  &.is-loading,
  &[loading] {
    color: transparent;
    background-color: transparent;
    &:after {
      border-left-color: $border-color !important;
      border-bottom-color: $border-color !important;
    }
    &:active,
    &:hover {
      color: transparent;
      background-color: transparent;
    }
  }
}
