// progress variant
// -----------------------------------------------------------------------------
@mixin progress-variant($background-color) {
  &[value]::-moz-progress-bar {
    background-color: $background-color;
  }

  &[value]::-webkit-progress-value {
    background-color: $background-color;
  }

  &[value]::-ms-fill {
    background-color: $background-color;
  }
}
