.docs-c-content {
  > h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 32px;
  }

  > h2 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    padding-bottom: 5px;
    margin: 0 0 16px 0;
    border-bottom: 1px solid #eee;
    &:before {
      content: '#';
      color: $primary-color;
      position: absolute;
      left: -15px;
      top: 0;
      @media (max-width: 1000px) {
        display: none;
      }
    }
    &:not(:first-child) {
      margin-top: 64px;
    }
  }

  > h3 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    &:before {
      content: '#';
      color: rgba($primary-color, 0.5);
      padding-right: 4px;
    }
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  > h4 {

  }

  > h5 {

  }

  > h6 {

  }

  > h1 + ul {
    margin: 0;
    padding: 0 0 0 16px;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    // border-bottom: 1px solid #eee;
    li {
      &:before {
        content: '#';
        padding-right: 4px;
        color: rgba($primary-color, 0.5);
      }
    }
    a {
      color: $primary-color;
    }
    ul {
      font-size: 14px;
      list-style: none;
      padding: 0 0 0 16px;
    }
  }
}
