.c-hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 16px;
}

.c-hero__content {
  margin: auto;
  text-align: center;
}

.c-hero__title {
  color: #000;
  font-size: 96px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

.c-hero__lead {
  color: #4D4C4C;
  font-size: 16px;
  margin-bottom: 32px;
}
