.docs-visibility-table {
  .visibility-classname {
    width: 200px;
  }
  th {
    small {
      display: block;
      color: #9e9e9e;
    }
  }
  tbody {
    td:not(:first-child) {
      text-align: center;
      background-color: #fafafa;
      color: #9e9e9e;
    }
    td.is-visible {
      color: #468847;
      background-color: #dff0d8!important;
    }
  }
}

.c-example {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  &.is-top {
    padding-top: 30px;
    align-items: flex-start;
  }
}

.icon-wrapper {
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  width: 40px;
  height: 40px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.shadow-box {
  min-height: 42px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
  &.is-3 {
    min-height: 3 * 42px;
  }
  &.is-2 {
    min-height: 2 * 42px;
  }
}

.rect {
  display: inline-block;
  height: 30px;
  min-width: 48px;
  background-color: #f8f8f8;
}
