.site {

}

.site-wrapper {
  max-width: $content-width;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.site-topbar {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-bottom: 4px solid $primary-color;
}

.site-navigation {
  font-size: 14px;
  max-width: $content-width;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  .navbar {
    font-size: 14px;
  }
  .navbar__brand {
    color: #000;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
  }
}

.site-content {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  max-width: $content-width;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.site-sidebar {
  width: $sidebar-width;
}

.site-main {
  width: $main-width;
}

.site-footer {
  position: relative;
  text-align: center;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 8px;
  color: #888;
  font-size: 13px;
  line-height: 1.2;
  &:before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
  }
  p {
    margin: 0 0 8px 0;
  }
  a {
    color: #676767;
  }
}

@media (max-width: 1000px) {
  .site-sidebar {
    display: none;
  }
  .site-main {
    width: 100%;
  }
}
