// like panel
// .c-box
//   .c-box__heading
//   .c-box__body
//     .c-box__inner
// @TODO
// Block
.c-box {
  position: relative;
  margin-bottom: $box-margin-bottom;
  border-radius: $box-border-radius;
}

// Elements
.c-box__heading {
  color: $box-header-color;
  line-height: 1.2;
  font-size: $font-size-base;
  padding: $box-padding-y $box-padding-x;
  margin: 0;
  background-color: $box-header-bg;
  border: $box-border-width solid $box-border-color;
  border-radius: $box-border-radius $box-border-radius 0 0;
}

.c-box__body {
  border: $box-border-width solid $box-border-color;
  border-top: 0;
  border-radius: 0 0 $box-border-radius $box-border-radius;
  background-color: $box-body-bg;
}

.c-box__inner {
  padding: $box-padding-x;
}

// Modifiers
@each $modifier, $value in $box-palette {
  .c-box--#{$modifier} {
    @include box-variant(map-get($value, 'text'), map-get($value, 'border'), map-get($value, 'bg'))
  }
}
