// .c-drop
//   .c-drop__toggle
//   .c-drop__content

// Block
.c-drop {
  position: relative; // absolute or fixed
  display: inline-block;

  // states
  &.is-open {
    > .c-drop__content {
      display: block;
    }
  }
}

// Elements
.c-drop__toggle {
  &:focus {
    + .c-drop__content {
      display: block;
    }
  }
}

.c-drop__content {
  position: absolute;
  display: none;
  font-size: $font-size-base;
  color: $text-color;
  text-align: left;
  min-width: $drop-content-min-width;
  border: $drop-border-width solid $drop-border-color;
  border-radius: $drop-border-radius;
  background-color: $drop-bg-color;
  z-index: $drop-zIndex;
  top: 100%;
  left: 0;
  right: auto;
  bottom: auto;
  margin: $drop-content-gutter 0 0 0;

  &--always {
    display: block;
  }

  &--topStart {
    top: auto;
    left: 0;
    right: auto;
    bottom: 100%;
    margin: 0 0 $drop-content-gutter 0;
  }

  &--top {
    top: auto;
    left: 50%;
    right: auto;
    bottom: 100%;
    margin: 0 0 $drop-content-gutter 0;
    transform: translateX(-50%);
  }

  &--topEnd {
    top: auto;
    left: auto;
    right: 0;
    bottom: 100%;
    margin: 0 0 $drop-content-gutter 0;
  }

  &--rightStart {
    top: 0;
    left: 100%;
    right: auto;
    bottom: auto;
    margin: 0 0 0 $drop-content-gutter;
  }

  &--right {
    top: 50%;
    left: 100%;
    right: auto;
    bottom: auto;
    margin: 0 0 0 $drop-content-gutter;
    transform: translateY(-50%);
  }

  &--rightEnd {
    top: auto;
    left: 100%;
    right: auto;
    bottom: 0;
    margin: 0 0 0 $drop-content-gutter;
  }

  &--bottomStart {
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    margin: $drop-content-gutter 0 0 0;
  }

  &--bottom {
    top: 100%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin: $drop-content-gutter 0 0 0;
    transform: translateX(-50%);
  }

  &--bottomEnd {
    top: 100%;
    left: auto;
    right: 0;
    bottom: auto;
    margin: $drop-content-gutter 0 0 0;
  }

  &--leftStart {
    top: 0;
    left: auto;
    right: 100%;
    bottom: auto;
    margin: 0 $drop-content-gutter 0 0;
  }

  &--left {
    top: 50%;
    left: 100%;
    right: auto;
    bottom: auto;
    margin: 0 $drop-content-gutter 0 0;
    transform: translateY(-50%);
  }

  &--leftEnd {
    top: auto;
    left: 100%;
    right: auto;
    bottom: 0;
    margin: 0 $drop-content-gutter 0 0;
  }
}
