// .c-modal
//   .c-modal__content
//     .c-modalCard
//       .c-modalCard__header
//         .c-modalCard__title
//         .c-modalCard__close
//       .c-modalCard__body
//       .c-modalCard__footer

// Block
.c-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $modal-padding;
  z-index: $modal-zIndex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  &.is-active {
    display: flex;
  }
}

// Elements
.c-modal__content {
  max-width: $modal-width-base;
  width: 100%;
  margin: auto;
}

// Modifiers
.c-modal--always {
  display: flex;
}

// Block
.c-modalCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $modalCard-bg-color;
  border-radius: $modalCard-border-radius;
  border: $modalCard-border-width solid $modalCard-border-color;
}

.c-modalCard__header {
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $modalCard-padding;
  border-bottom: $modalCard-border-width solid $modalCard-divider-color;
}

.c-modalCard__title {
  flex: 1 1 0%;
  min-width: 0;
  margin: 0;
  font-weight: 500;
  font-size: $modalCard-title-font-size;
  @include oneline;
}

.c-modalCard__close {
  font-size: 22px;
  line-height: 1;
  opacity: 0.75;
  cursor: pointer;
}

.c-modalCard__body {
  flex: 1 1 auto;
  padding: $modalCard-padding;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.c-modalCard__footer {
  flex-shrink: 0;
  padding: $modalCard-padding;
  border-top: $modalCard-border-width solid $modalCard-divider-color;
  text-align: right;
}

// Modifiers
.c-modal--sm {
  .c-modal__content {
    max-width: $modal-width-sm;
  }
}

.c-modal--lg {
  .c-modal__content {
    max-width: $modal-width-lg;
  }
}
