// .c-navbar
//   .c-navbar__left .c-navbar__center .c-navabar__right
//     .c-navbar__item

// Block
.c-navbar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  height: $navbar-height;
}

// Elements
.c-navbar__left,
.c-navbar__center,
.c-navbar__right {
  display: flex;
  align-items: stretch;
}

.c-navbar__left {
  order: 1;
  flex: 1 0 0%;
  justify-content: flex-start;
}

.c-navbar__center {
  justify-content: center;
  order: 2;
}

.c-navbar__right {
  order: 3;
  flex: 1 0 0%;
  justify-content: flex-end;
}

.c-navbar__left,
.c-navbar__right {
  &.is-auto {
    flex: 1 1 auto;
    min-width: 0;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.is-fixed {
    flex: none;
  }
}

.c-navbar__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $navbar-color;
  font-size: $navbar-font-size;
  &:not(:last-child) {
    margin-right: $navbar-item-margin-x;
  }
}
