// Block
.c-nav {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  @include clearfix;
}

// Elements
.c-nav__item {
  position: relative;
}

.c-nav__link {
  display: flex;
  align-items: center;
  padding: $nav-link-padding-base-y $nav-link-padding-base-x;
  line-height: $line-height-base;
  font-size: $font-size-base;
  &[disabled],
  &.is-disabled {
    opacity: .65;
    cursor: not-allowed;
  }
}

// modifiers - theme
.c-nav--inline {
  > .c-nav__item {
    float: left;
    margin-right: $nav-inline-item-margn-x;
    &:last-child {
      margin-right: 0;
    }
    > .c-nav__link {
      color: inherit;
    }
  }
}

.c-nav--tabs {
  border-bottom: $nav-border-width solid $nav-border-color;
  > .c-nav__item {
    float: left;
    margin-bottom: (0 - $nav-border-width);
    margin-right: $nav-tabs-item-margin-x;
    &:last-child {
      margin-right: 0;
    }
    > .c-nav__link {
      color: inherit;
      border-radius: $nav-tabs-link-border-radius-base $nav-tabs-link-border-radius-base 0 0;
      border: $nav-tabs-link-border-width solid transparent;
      &:hover {
        background-color: $nav-tabs-link-hover-bg;
      }
    }
    &.is-active > .c-nav__link,
    > .c-nav__link.is-active {
      color: $heading-color;
      border-color: $nav-tabs-link-border-color $nav-tabs-link-border-color #fff;
      background-color: #fff;
    }
  }
}

.c-nav--pills {
  > .c-nav__item {
    float: left;
    margin-right: $nav-pills-item-margin-x;
    &:last-child {
      margin-right: 0;
    }
    > .c-nav__link {
      color: inherit;
      border-radius: $nav-pills-link-border-radius-base;
      &:hover {
        background-color: $nav-pills-link-hover-bg;
      }
      &.is-active {
        color: #fff;
        background-color: map-get($master-palette, 'primary');
      }
    }
  }
}

.c-nav--stacked {
  > .c-nav__item {
    float: none;
    margin: 0 0 $nav-stacked-item-margin-y 0;
    &:last-child {
      margin-bottom: 0;
    }
    > .c-nav {
      margin-left: $nav-sub-margin-x;
    }
  }

  > .c-nav__divider {
    height: 1px;
    margin-top: $space-stack-xs;
    margin-bottom: $space-stack-xs;
    background-color: $nav-divider-color;
  }

}

// modifiers - size
.c-nav--sm {
  .c-nav__link {
    font-size: $font-size-sm;
    padding: $nav-link-padding-sm-y $nav-link-padding-sm-x;
  }
  &.c-nav--pills .c-nav__link {
    border-radius: $nav-pills-link-border-radius-sm;
  }
  &.c-nav--tabs .c-nav__link {
    border-radius: $nav-tabs-link-border-radius-sm;
  }
}

.c-nav--lg {
  .c-nav__link {
    font-size: $font-size-lg;
    padding: $nav-link-padding-lg-y $nav-link-padding-lg-x;
  }
}
