// Block
.c-nav {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  @include clearfix;
}

// Elements
.c-nav__item {
  position: relative;
}

.c-nav__link {
  display: block;
  line-height: $line-height-base;
  font-size: $font-size-base;
  &[disabled],
  &.is-disabled {
    opacity: .65;
    cursor: not-allowed;
  }
}

// Modifiers
.c-nav--menus {
  > .c-nav__item {
    &:not(:last-child) {
      margin-bottom: $nav-menus-item-margin-y;
    }
    > .c-nav__link {
      color: $nav-menus-link-color;
      padding: $nav-menus-link-padding-base-y $nav-menus-link-padding-base-x;
      border-radius: $nav-menus-link-border-radius-base;
      &:hover {
        background-color: $nav-menus-link-hover-bg;
      }
      &.is-active {
        color: $nav-menus-link-active-color;
        background-color: $nav-menus-link-active-bg;
      }
    }
  }
  > .c-nav__divider {
    height: 1px;
    margin-top: $space-stack-xs;
    margin-bottom: $space-stack-xs;
    background-color: $nav-menus-divider-color;
  }
  .c-nav--menus {
    margin: $nav-menus-item-margin-y 0 $nav-menus-item-margin-y $space-stack-s;
  }
}

.c-nav--pills {
  display: flex;
  > .c-nav__item {
    &:not(:last-child) {
      margin-right: $nav-pills-item-margin-x;
    }
    > .c-nav__link {
      color: $nav-pills-link-color;
      padding: $nav-pills-link-padding-base-y $nav-pills-link-padding-base-x;
      border-radius: $nav-pills-link-border-radius-base;
      &:hover {
        background-color: $nav-pills-link-hover-bg;
      }
      &.is-active {
        color: $nav-pills-link-active-color;
        background-color: $nav-pills-link-active-bg;
      }
    }
  }
}

.c-nav--tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  > .c-nav__item {
    float: left;
    margin-bottom: (0 - $nav-tabs-border-width);
    &:not(:last-child) {
      margin-right: $nav-tabs-item-margin-x;
    }
    > .c-nav__link {
      color: $nav-tabs-link-color;
      padding: $nav-tabs-link-padding-base-y $nav-tabs-link-padding-base-x;
      border-radius: $nav-tabs-link-border-radius-base $nav-tabs-link-border-radius-base 0 0;
      border: $nav-tabs-link-border-width solid transparent;
      &:hover {
        color: $nav-tabs-link-hover-color;
      }
    }
    .c-nav__link.is-active {
      color: $nav-tabs-link-active-color;
      border-color: $nav-tabs-link-border-color $nav-tabs-link-border-color $nav-tabs-link-active-bg;
      background-color: $nav-tabs-link-active-bg;
    }
  }
}

.c-nav--sm.c-nav--menus {
  > .c-nav__item {
    > .c-nav__link {
      font-size: $font-size-sm;
      padding: $nav-menus-link-padding-sm-y $nav-menus-link-padding-sm-x;
      border-radius: $nav-menus-link-border-radius-sm;
    }
  }
}

.c-nav--sm.c-nav--pills {
  > .c-nav__item {
    > .c-nav__link {
      font-size: $font-size-sm;
      padding: $nav-pills-link-padding-sm-y $nav-pills-link-padding-sm-x;
      border-radius: $nav-pills-link-border-radius-sm;
    }
  }
}

.c-nav--sm.c-nav--tabs {
  > .c-nav__item {
    > .c-nav__link {
      font-size: $font-size-sm;
      padding: $nav-tabs-link-padding-sm-y $nav-tabs-link-padding-sm-x;
      border-radius: $nav-tabs-link-border-radius-sm $nav-tabs-link-border-radius-sm 0 0;
    }
  }
}
