<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %} {{page.title}} - {% endif %}{{ project.title }}</title>
  <meta name="description" content="{{ project.description }}">
  <meta name="keywords" content="{{ project.keywords }}">
  <link rel="shortcut icon" href="{{project.url}}/images/favicon.ico" />
  <link rel="stylesheet" href="{{project.url}}/css/point.css?v={{project.version | replace('.', '') | replace('-', '')}}">
  <link rel="stylesheet" href="{{project.url}}/css/style.css?v={{project.version | replace('.', '') | replace('-', '')}}">
  <link rel="stylesheet" href="{{project.url}}/css/prism.css?v={{project.version | replace('.', '') | replace('-', '')}}">
</head>
<body>
  <div id="docs" class="site">
    <header class="site__header">
      {% include "navbar.njk" %}
    </header>
    <!-- END .site__header -->
    <div class="site__content">
      <div id="sidebar" class="site__sidebar">
        {% include "navigation.njk" %}
        <footer id="colophon" class="site__footer" role="contentinfo">
          <div>Designed and built by <a href="https://moyu.io" target="_blank">MOYU</a></div>
          <div>Licensed under the <a href="{{project.license}}">MIT License</a></div>
        </footer>
      </div>
      <!-- END .site__sidebar -->
      <main id="main" class="site__main" role="main">
        <article class="article">
          {% block content %}{% endblock %}
        </article>
      </main>
      <!-- END .site__main -->
      <nav class="site__catalogue">
        {% for item in page.catalogue %}
        <a href="#{{ item | lower | replace(' ', '-') }}">{{ item }}</a>
        {% endfor %}
      </nav>
      <!-- END .site__catalogue -->
    </div>
    <!-- END .site__content -->
  </div>
  <!-- END .site -->
  <script src="{{project.url}}/js/prism.js"></script>
  <script src="{{project.url}}/js/point.js"></script>
</body>
</html>
