<nav id="sidenav" class="navigation">
  <div class="navigation__group">
    <label class="navigation__label">GETTING STARTED</label>
    <div class="navigation__content">
      <a href="{{project.url}}" class="navigation__link">Introduction</a>
      <a href="{{project.url}}/#installation" class="navigation__link">Installation</a>
      <a href="{{project.url}}/#customization" class="navigation__link">Customization</a>
      <a href="{{project.url}}/#browser-support" class="navigation__link">Browser Support</a>
      <a href="{{project.url}}/style-guide.html" class="navigation__link">Style Guide</a>
    </div>
  </div>
  <!-- END .navigation__group -->
  <!-- END .navigation__group -->
  <div class="navigation__group">
    <label class="navigation__label">CONTENT</label>
    <div class="navigation__content">
      <a href="{{project.url}}/typography.html" class="navigation__link">Typography</a>
      <a href="{{project.url}}/table.html" class="navigation__link">Table</a>
      <a href="{{project.url}}/media.html" class="navigation__link">Media</a>
    </div>
  </div>
  <!-- END .navigation__group -->
  <div class="navigation__group">
    <label class="navigation__label">LAYOUTS</label>
    <div class="navigation__content">
      <a href="{{project.url}}/container.html" class="navigation__link">Container</a>
      <a href="{{project.url}}/flex-grid.html" class="navigation__link">Flex Grid</a>
      <a href="{{project.url}}/level.html" class="navigation__link">Level</a>
    </div>
  </div>
  <div class="navigation__group">
    <label class="navigation__label">COMPONENTS</label>
    <div class="navigation__content">
      <a href="{{project.url}}/badge.html" class="navigation__link">Badge</a>
      <a href="{{project.url}}/box.html" class="navigation__link">Box</a>
      <a href="{{project.url}}/breadcrumb.html" class="navigation__link">Breadcrumb</a>
      <a href="{{project.url}}/button.html" class="navigation__link">Button</a>
      <a href="{{project.url}}/dropdown.html" class="navigation__link">Dropdown</a>
      <a href="{{project.url}}/form.html" class="navigation__link">Form</a>
      <a href="{{project.url}}/hint.html" class="navigation__link">Hint</a>
      <a href="{{project.url}}/list.html" class="navigation__link">List</a>
      <a href="{{project.url}}/modal.html" class="navigation__link">Modal</a>
      <a href="{{project.url}}/nav.html" class="navigation__link">Nav</a>
      <a href="{{project.url}}/navbar.html" class="navigation__link">Navbar</a>
      <a href="{{project.url}}/note.html" class="navigation__link">Note</a>
      <a href="{{project.url}}/pagination.html" class="navigation__link">Pagination</a>
      <a href="{{project.url}}/progress.html" class="navigation__link">Progress</a>
    </div>
  </div>
  <!-- END .navigation__group -->
  <div class="navigation__group">
    <label class="navigation__label">UTILITIES</label>
    <div class="navigation__content">
      <a href="{{project.url}}/color.html" class="navigation__link">Color</a>
      <a href="{{project.url}}/effect.html" class="navigation__link">Effect</a>
      <a href="{{project.url}}/layout.html" class="navigation__link">Layout</a>
      <a href="{{project.url}}/spacing.html" class="navigation__link">Spacing</a>
      <a href="{{project.url}}/text.html" class="navigation__link">Text</a>
    </div>
  </div>
  <!-- END .navigation__group -->
</nav>
