<nav id="navigation" class="menu">
  <ul class="menu__list">
    <li class="menu__item"> 
      <a class="menu__link">GETTING STARTED</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{project.url}}" class="menu__link">Introduction</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/#installation" class="menu__link">Installation</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/#customization" class="menu__link">Customization</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/#browser-support" class="menu__link">Browser Support</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/style-guide.html" class="menu__link">Style Guide</a>
        </li>
      </ul>
    <li>

    <li class="menu__item">
      <a class="menu__link">CONTENT</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{project.url}}/typography.html" class="menu__link">Typography</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/table.html" class="menu__link">Table</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/media.html" class="menu__link">Media</a>
        </li>
      </ul>
    </li>

    <li class="menu__item">
      <a class="menu__link">LAYOUTS</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{project.url}}/container.html" class="menu__link">Container</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/flex-grid.html" class="menu__link">Flex Grid</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/level.html" class="menu__link">Level</a>
        </li>
      </ul>
    </li>

    <li class="menu__item">
      <a class="menu__link">COMPONENTS</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{project.url}}/badge.html" class="menu__link">Badge</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/box.html" class="menu__link">Box</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/breadcrumb.html" class="menu__link">Breadcrumb</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/button.html" class="menu__link">Button</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/dropdown.html" class="menu__link">Dropdown</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/form.html" class="menu__link">Form</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/hint.html" class="menu__link">Hint</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/list.html" class="menu__link">List</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/modal.html" class="menu__link">Modal</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/menu.html" class="menu__link">Menu</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/nav.html" class="menu__link">Nav</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/navbar.html" class="menu__link">Navbar</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/note.html" class="menu__link">Note</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/pagination.html" class="menu__link">Pagination</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/progress.html" class="menu__link">Progress</a>
        </li>
      </ul>
    </li>

    <li class="menu__item">
      <a class="menu__link">UTILITIES</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{project.url}}/color.html" class="menu__link">Color</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/effect.html" class="menu__link">Effect</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/layout.html" class="menu__link">Layout</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/spacing.html" class="menu__link">Spacing</a>
        </li>
        <li class="menu__item">
          <a href="{{project.url}}/text.html" class="menu__link">Text</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
