{% set menu = [
  {
    label: 'Getting Started',
    children: [
      { label: 'Introduction', path: '' },
      { label: 'Installation', path: '#installation' },
      { label: 'Customization', path: '#customization' },
      { label: 'Browser Support', path: '#browser-support' },
      { label: 'Style Guide', path: 'style-guide.html' }
    ]
  },
  {
    label: 'Content',
    children: [
      { label: 'Typography', path: 'typography.html' },
      { label: 'Table', path: 'table.html' },
      { label: 'Media', path: 'media.html' }
    ]
  },
  {
    label: 'Layouts',
    children: [
      { label: 'Container', path: 'container.html' },
      { label: 'Flex Grid', path: 'flex-grid.html' },
      { label: 'Level', path: 'level.html' }
    ]
  },
  {
    label: 'Components',
    children: [
      { label: 'Badge', path: 'badge.html' },
      { label: 'Box', path: 'box.html' },
      { label: 'Breadcrumb', path: 'breadcrumb.html' },
      { label: 'Button', path: 'button.html' },
      { label: 'Dropdown', path: 'dropdown.html' },
      { label: 'Form', path: 'form.html' },
      { label: 'Hint', path: 'hint.html' },
      { label: 'List', path: 'list.html' },
      { label: 'Modal', path: 'modal.html' },
      { label: 'Menu', path: 'menu.html' },
      { label: 'Nav', path: 'nav.html' },
      { label: 'Navbar', path: 'navbar.html' },
      { label: 'Note', path: 'note.html' },
      { label: 'Pagination', path: 'pagination.html' },
      { label: 'Progress', path: 'progress.html' }
    ]
  },
  {
    label: 'Utilities',
    children: [
      { label: 'Color', path: 'color.html' },
      { label: 'Effect', path: 'effect.html' },
      { label: 'Layout', path: 'layout.html' },
      { label: 'Spacing', path: 'spacing.html' },
      { label: 'Text', path: 'text.html' }
    ]
  }
] %}
<nav id="navigation" class="menu" data-toggle="menu">
  <ul class="menu__list">
    {% for group in menu %}
    <li class="menu__item{% if page.path[0] === group.label %} is-active{% endif %}"> 
      <a class="menu__link">{{ group.label }}</a>
      <ul class="menu__list">
        {% for item in group.children %}
        <li class="menu__item">
          <a href="{{project.url + '/' + item.path}}" class="menu__link{% if page.path[1] === item.label %} is-active{% endif %}">{{item.label}}</a>
        </li>
        {% endfor %}
      </ul>
    <li>
    {% endfor %}
  </ul>
</nav>
