html {
  font-size: $font-size-base;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $body-font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}

// Heading
h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: normal;
  line-height: $heading-line-height;
  margin: 0 0 $space-stack-s 0;
  small {
    color: $muted-color;
  }
}

h1 { font-size: $fontSize-h1 }
h2 { font-size: $fontSize-h2 }
h3 { font-size: $fontSize-h3 }
h4 { font-size: $fontSize-h4; font-weight: normal; }
h5 { font-size: $fontSize-h5; font-weight: normal; }
h6 { font-size: $fontSize-h6; font-weight: normal; }

// Paragraphs
p {
  margin: 0 0 $space-stack-base 0;
}

ins,
mark {
  background: #ffa;
}

hr {
  display: block;
  padding: 0;
  margin: $space-stack-l 0;
  height: 0;
  border: 0;
  border-top: 1px solid $divider-color;
  box-sizing: content-box;
}

// Link
a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  // default link
  &[href]:not([class]) {

  }
}

// List
ul, ol {
  margin: 0 0 $space-stack-base 0;
  padding: 0 0 0 2em;
  ul, ol {
    margin-bottom: $space-stack-s;
  }
}

dl {
  margin: 0 0 $space-stack-base 0;
}

dt {
  font-weight: bold;
  margin: $space-stack-s 0 0 0;
  &:first-child {
    margin-top: 0;
  }
}
dd {
  margin-left: $space-inline-l;
}

// Blockquote
blockquote {
  border-left: 3px solid $border-color;
  padding: $space-squish-m-y $space-squish-l-x;
  margin: 0 0 $space-stack-base 0;
  cite {
    color: $muted-color;
  }

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// Code
code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "Source Code Pro", "Hack", "Monaco", "Inconsolata", monospace;
  line-height: 1.25;
}

code {
  background: #f5f7fa;
  color: #ed6c63;
  font-size: $font-size-sm;
  font-weight: normal;
  padding: 1px 3px 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: $space-stack-base;
  padding: 16px 20px;
  background: #f5f7fa;
  color: #69707a;
  font-size: $font-size-sm;
  overflow: auto;
  code {
    color: inherit;
    font-size: inherit;
    padding: 0;
    border-radius: 0;
    white-space: pre-wrap;
    background: transparent;
  }
}

sub,
sup {
  left: 0.1em;
}

// Table
table {
  border-collapse: collapse;
}

caption {
  text-align: left;
  caption-side: top;
}

th {
  text-align: left;
}

// media
figure {
  margin: 0 0 $space-stack-base 0;
}

img {
  vertical-align: middle;
}

// Form
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 $space-stack-xs 0;
}
label {
  display: inline-block;
  margin: 0 0 $space-stack-xs 0;
}
textarea {
  resize: vertical;
}

input[type="date"],
input[type="time"] {
  -webkit-appearance: listbox;
}

input[type="search"] {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $form-input-bg inset;
}

// misc
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

abbr[title] {
  cursor: help;
}

[role="button"] {
  cursor: pointer;
}
[hidden] {
  display: none !important;
}
[disabled],
.is-disabled {
  cursor: not-allowed;
}
