// .l-level
//   .l-level__left, .l-level__center, .l-level__right
//     .l-level__item

// [1] simulate collapsing margins

// block
.l-level {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px; // [1]
  margin-bottom: -5px; // [1]

  &.is-top {
    align-items: flex-start;
  }

  &.is-bottom {
    align-items: flex-end;
  }

  &.is-center {
    justify-content: center;
  }

  > .l-level__item {
    flex: 1 1 0%;
    text-align: center;
    margin-top: 5px; // [1]
    margin-bottom: 5px; // [1]
  }
}

.l-level__left,
.l-level__center,
.l-level__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px; // [1]
  margin-bottom: 5px; // [1]
  &.is-top {
    align-items: flex-start;
  }

  &.is-bottom {
    align-items: flex-end;
  }
  > .l-level__item:not(:last-child) {
    margin-right: $level-item-margin-x;
  }
}

.l-level__left {
  order: 1;
  justify-content: flex-start;
}

.l-level__center {
  order: 2;
  justify-content: center;
}

.l-level__right {
  order: 3;
  justify-content: flex-end;
}

.l-level__center ~ .l-level__left,
.l-level__center ~ .l-level__right {
  flex: 1 0 0%;
}
