.badge {
  display: inline-flex;
  align-items: center;
  font-size: $font-size-sm;
  line-height: 1;
  color: $badge-color-default;
  background-color: $badge-bg-color-default;
  text-align: center;
  vertical-align: middle;
  padding: $badge-padding-y-base $badge-padding-x-base;
  border-radius: 1993px;
  white-space: nowrap;
  &:empty {
    width: 8px;
    height: 8px;
    padding: 0;
  }
}

// modifiers
@each $modifier, $value in $master-palette {
  .badge--#{$modifier} {
    @include badge-variant($color-white, $value)
  }
}

.badge--floatTL,
.badge--floatTR,
.badge--floatBL,
.badge--floatBR {
  position: absolute;
  z-index: 15;
}

.badge--floatTL {
  left: 0;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.badge--floatTR {
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-50%);
}

.badge--floatBL {
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
}

.badge--floatBR {
  right: 0;
  bottom: 0;
  transform: translateX(50%) translateY(50%);
}
