.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.img-rounded {
  border-radius: $border-radius-base !important;
}

.img-circle {
  border-radius: 1993px !important;
}

// avatar
.avatar {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 1993px;
  object-fit: cover;
  @include full-bg;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.avatar--sm {
  width: 28px;
  height: 28px;
}

.avatar--lg {
  width: 48px;
  height: 48px;
}

// embed
.embed-fluid {
  @include embed-ratio(16, 9);
}
