<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Box | Point</title>
  <meta name="description" content="A flexible CSS Framework for building modern responsive web apps">
  <meta name="keywords" content="css,sass,flexbox,responsive,front-end,mobile-first,framework,web">
  <link rel="stylesheet" href="/css/point.css?v=133">
  <link rel="stylesheet" href="/css/docs.css?v=133">
  <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>
<body>
  <div id="docs" class="site">
    <header class="site-topbar">
      <nav class="navbar site-navigation">
        <div class="navbar__start">
          <a href="/" class="navbar__item navbar__brand">
            <svg width="32px" height="32px" class="u-mr-10" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M10,0 L50,0 L50,0 C77.6142375,-5.07265313e-15 100,22.3857625 100,50 L100,90 C100,95.5228475 95.5228475,100 90,100 L50,100 C22.3857625,100 3.38176876e-15,77.6142375 0,50 L0,10 L0,10 C-6.76353751e-16,4.4771525 4.4771525,1.01453063e-15 10,0 L10,0 Z M50,85 C69.3299662,85 85,69.3299662 85,50 C85,30.6700338 69.3299662,15 50,15 C30.6700338,15 15,30.6700338 15,50 C15,69.3299662 30.6700338,85 50,85 Z M50,70 C38.954305,70 30,61.045695 30,50 C30,38.954305 38.954305,30 50,30 C61.045695,30 70,38.954305 70,50 C70,61.045695 61.045695,70 50,70 Z" fill="#7872FF"></path>
            </svg>
            Point
          </a>
        </div>
        <!-- END .navbar__left -->
        <div class="navbar__end">
          <a href="/getting-started" class="navbar__item">Documentation</a>
          <a href="https://github.com/moyus/point" class="navbar__item">Github</a>
          <a href="http://cover.20theme.com" class="navbar__item">Cover</a>
          <div class="navbar__item">
            <a href="https://github.com/moyus/point/releases" class="btn btn--outline btn--primary">Download</a>
          </div>
        </div>
        <!-- END .navbar__right -->
      </nav>
    </header>
    <!-- END .site -->
    <div class="site-content">
      <aside class="site-sidebar">
        <nav id="sidenav" class="c-sidenav">
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Getting started</li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#introduction" class="c-sidenav__link">Introduction</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#setup" class="c-sidenav__link">Setup</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#customize" class="c-sidenav__link">Customize</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/style-guide.html" class="c-sidenav__link">Style Guide</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Layouts</li>
    <li class="c-sidenav__item">
      <a href="/layouts/flex-grid.html" class="c-sidenav__link">Flex Grid</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/layouts/level.html" class="c-sidenav__link">Level</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Elements</li>
    <li class="c-sidenav__item">
      <a href="/elements/typography.html" class="c-sidenav__link">Typography</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/badges.html" class="c-sidenav__link">Badges</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/buttons.html" class="c-sidenav__link">Buttons</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/form.html" class="c-sidenav__link">Form</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/tables.html" class="c-sidenav__link">Tables</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/hint.html" class="c-sidenav__link">Hint</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/icons.html" class="c-sidenav__link">Icons</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/media.html" class="c-sidenav__link">Media</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Components</li>
    <li class="c-sidenav__item">
      <a href="/components/box.html" class="c-sidenav__link">Box</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/note.html" class="c-sidenav__link">Note</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/lists.html" class="c-sidenav__link">Lists</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/progress.html" class="c-sidenav__link">Progress</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/navs.html" class="c-sidenav__link">Navs</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/navbar.html" class="c-sidenav__link">Navbar</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/breadcrumb.html" class="c-sidenav__link">Breadcrumb</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/pagination.html" class="c-sidenav__link">Pagination</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/dropmenu.html" class="c-sidenav__link">Dropmenu</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/modal.html" class="c-sidenav__link">Modal</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Utilities</li>
    <li class="c-sidenav__item">
      <a href="/utilities/helpers.html" class="c-sidenav__link">Helpers</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
</nav>

      </aside>
      <!-- END .site-sidebar -->
      <main id="main" class="site-main c-content" role="main">
        <h1 id="box">Box</h1>
<ul>
<li><a href="#basic">Basic</a></li>
<li><a href="#types">Types</a></li>
</ul>
<h2 id="basic">Basic</h2>
<p>Sometimes you have groups of content and need to put them in boxes. In those
situations, try the Box component.</p>
<div class="box">
  <header class="box__header">Box Title</header>
  <div class="box__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    </p>
  </div>
</div>

<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__header"</span>&gt;</span>Box Title<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__body"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
<h2 id="types">Types</h2>
<p>By adding the following modifier classes on <code>.box</code> container to quick create different styled Box</p>
<ul>
<li><code>box--info</code></li>
<li><code>box--danger</code></li>
<li><code>box--success</code></li>
<li><code>box--warning</code></li>
</ul>
<p><div class="box box--info">
  <header class="box__header">Info Box</header>
  <div class="box__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    </p>
  </div>
</div>
<!-- END .box --></p>
<p><div class="box box--danger">
  <header class="box__header">Danger Box</header>
  <div class="box__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    </p>
  </div>
</div>
<!-- END .box --></p>
<p><div class="box box--success">
  <header class="box__header">Success Box</header>
  <div class="box__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    </p>
  </div>
</div>
<!-- END .box --></p>
<p><div class="box box--warning">
  <header class="box__header">Warning Box</header>
  <div class="box__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium velit eius, repudiandae voluptatum, non provident modi dolor accusamus sunt inventore omnis saepe repellat, officia veritatis fugiat quo tempore placeat.
    </p>
  </div>
</div>
<!-- END .box --></p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box box--info"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__header"</span>&gt;</span>Info Box<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__body"</span>&gt;</span>
    // ...
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-comment">&lt;!-- END .box --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box box--danger"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__header"</span>&gt;</span>Danger Box<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__body"</span>&gt;</span>
    // ...
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-comment">&lt;!-- END .box --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box box--success"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__header"</span>&gt;</span>Success Box<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__body"</span>&gt;</span>
    // ...
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-comment">&lt;!-- END .box --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box box--warning"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__header"</span>&gt;</span>Warning Box<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"box__body"</span>&gt;</span>
    // ...
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-comment">&lt;!-- END .box --&gt;</span>
</code></pre>


      </main>
      <!-- END #main -->
    </div>
    <!-- END .site-content -->
    <footer id="colophon" class="site-footer" role="contentinfo">
      <p>Designed and built by <a href="http://moyu.io">moyu</a></p>
      <p>Licensed under the <a href="https://github.com/moyus/point/blob/master/LICENSE">MIT License</a>.</p>
    </footer>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
