<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Modal | Point</title>
  <meta name="description" content="A flexible CSS Framework for building modern responsive web apps">
  <meta name="keywords" content="css,sass,flexbox,responsive,front-end,mobile-first,framework,web">
  <link rel="stylesheet" href="/css/point.css">
  <link rel="stylesheet" href="/css/docs.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>
<body>
  <div id="docs" class="docs-l-app">
    <header class="docs-l-topbar">
      <div class="docs-l-topbar__inner">
        <nav class="c-navbar">
          <div class="c-navbar__left is-fixed">
            <a href="/" class="c-navbar__item">
              <img src="/images/logo-head.png">
            </a>
          </div>
          <!-- END .c-navbar__left -->
          <div class="c-navbar__right is-auto">
            <a href="/getting-started" class="c-navbar__item">Documentation</a>
            <a href="https://github.com/moyus/point" class="c-navbar__item">Github</a>
            <div class="c-navbar__item">
              <a href="https://github.com/moyus/point" class="btn btn--outline btn--primary">Download</a>
            </div>
          </div>
          <!-- END .c-navbar__right -->
        </nav>
      </div>
    </header>
    <!-- END .docs-l-topbar -->
    <div class="docs-l-content">
      <aside class="docs-l-sidebar">
        <nav id="sidenav" class="docs-c-sidenav">
  <ul class="docs-c-sidenav__group">
    <li class="docs-c-sidenav__label">Get started</li>
    <li class="docs-c-sidenav__item">
      <a href="/getting-started/index.html#introduction" class="docs-c-sidenav__link">Introduction</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/getting-started/index.html#setup" class="docs-c-sidenav__link">Setup</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/getting-started/index.html#customize" class="docs-c-sidenav__link">Customize</a>
    </li>
  </ul>
  <!-- END .docs-c-sidenav__group -->
  <ul class="docs-c-sidenav__group">
    <li class="docs-c-sidenav__label">Layouts</li>
    <li class="docs-c-sidenav__item">
      <a href="/layouts/flex-grid.html" class="docs-c-sidenav__link">Flex Grid</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/layouts/level.html" class="docs-c-sidenav__link">Level</a>
    </li>
  </ul>
  <!-- END .docs-c-sidenav__group -->
  <ul class="docs-c-sidenav__group">
    <li class="docs-c-sidenav__label">Elements</li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/typography.html" class="docs-c-sidenav__link">Typography</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/buttons.html" class="docs-c-sidenav__link">Buttons</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/form.html" class="docs-c-sidenav__link">Form</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/tables.html" class="docs-c-sidenav__link">Tables</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/media.html" class="docs-c-sidenav__link">Media</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/badges.html" class="docs-c-sidenav__link">Badges</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/hint.html" class="docs-c-sidenav__link">Hint</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/progress.html" class="docs-c-sidenav__link">Progress</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/elements/icons.html" class="docs-c-sidenav__link">Icons</a>
    </li>
  </ul>
  <!-- END .docs-c-sidenav__group -->
  <ul class="docs-c-sidenav__group">
    <li class="docs-c-sidenav__label">Components</li>
    <li class="docs-c-sidenav__item">
      <a href="/components/box.html" class="docs-c-sidenav__link">Box</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/note.html" class="docs-c-sidenav__link">Note</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/lists.html" class="docs-c-sidenav__link">Lists</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/navs.html" class="docs-c-sidenav__link">Navs</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/navbar.html" class="docs-c-sidenav__link">Navbar</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/breadcrumb.html" class="docs-c-sidenav__link">Breadcrumb</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/pagination.html" class="docs-c-sidenav__link">Pagination</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/drop.html" class="docs-c-sidenav__link">Drop</a>
    </li>
    <li class="docs-c-sidenav__item">
      <a href="/components/modal.html" class="docs-c-sidenav__link">Modal</a>
    </li>
  </ul>
  <!-- END .docs-c-sidenav__group -->
  <ul class="docs-c-sidenav__group">
    <li class="docs-c-sidenav__label">Utilities</li>
    <li class="docs-c-sidenav__item">
      <a href="/utilities/helpers.html" class="docs-c-sidenav__link">Helpers</a>
    </li>
  </ul>
  <!-- END .docs-c-sidenav__group -->
</nav>

      </aside>
      <!-- END .docs-l-sidebar -->
      <main id="main" class="docs-l-main docs-c-content" role="main">
        <h1 id="modal">Modal</h1>
<ul>
<li><a href="#basic">Basic</a></li>
<li><a href="#sizes">Sizes</a></li>
</ul>
<h2 id="basic">Basic</h2>
<p>To <strong>active</strong> the modal, just add the <code>.is-active</code> state class on the <code>.c-modal</code> container.</p>
<button class="btn btn--primary js-modal-trigger u-mb-15" data-target="exampleModal">Launch modal</button>

<div id="exampleModal" class="c-modal" style="background-color: rgba(0,0,0,0.65)">
  <div class="c-modal__content">
    <div class="c-modalCard">
      <header class="c-modalCard__header">
        <h4 class="c-modalCard__title">Modal Title</h4>
        <a role="button" class="c-modalCard__close js-modal-close">
          <i class="i-remove"></i>
        </a>
      </header>
      <div class="c-modalCard__body">
          &quot;You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist.&quot;
      </div>
      <footer class="c-modalCard__footer">
          <button type="button" class="btn js-modal-close">Close</button>
          <button type="button" class="btn btn--primary">Ok</button>
      </footer>
    </div>
  </div>
</div>

<pre><code class="lang-html">&lt;div id=<span class="hljs-string">"exampleModal"</span> <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modal"</span> style=<span class="hljs-string">"background-color: rgba(0,0,0,0.65)"</span>&gt;
  &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modal__content"</span>&gt;
    &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard"</span>&gt;
      &lt;header <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard__header"</span>&gt;
        &lt;h4 <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard__title"</span>&gt;<span class="hljs-type">Modal</span> <span class="hljs-type">Title</span>&lt;/h4&gt;
        &lt;a role=<span class="hljs-string">"button"</span> <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard__close"</span>&gt;
          &lt;i <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"i-remove"</span>&gt;&lt;/i&gt;
        &lt;/a&gt;
      &lt;/header&gt;
      &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard__body"</span>&gt;
          <span class="hljs-string">"You have your way. I have my way. As for the right way, the correct way, and the only way, it does not exist."</span>
      &lt;/div&gt;
      &lt;footer <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"c-modalCard__footer"</span>&gt;
          &lt;button <span class="hljs-class"><span class="hljs-keyword">type</span></span>=<span class="hljs-string">"button"</span> <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"btn"</span>&gt;<span class="hljs-type">Close</span>&lt;/button&gt;
          &lt;button <span class="hljs-class"><span class="hljs-keyword">type</span></span>=<span class="hljs-string">"button"</span> <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"btn btn--primary"</span>&gt;<span class="hljs-type">Ok</span>&lt;/button&gt;
      &lt;/footer&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<div class="c-note c-note--warning u-mt-40">
Point does <strong>not</strong> include any JavaScript interaction with <strong>Modal</strong>. You need to implement the class toggle yourself.
</div>

<h2 id="sizes">Sizes</h2>
<p>Add <code>.c-modalCard--sm</code> or <code>.c-modalCard--lg</code> modifier class on <code>.c-modalCard</code> container to quickly change the size of modalCard.</p>
<div class="u-mb-15">
  <button class="u-mb-5 btn btn--primary js-modal-trigger" data-target="smModal">Small Modal</button>
  <button class="u-mb-5 btn btn--primary js-modal-trigger" data-target="lgModal">Large Modal</button>
</div>

<div id="smModal" class="c-modal" style="background-color: rgba(0,0,0,0.65)">
  <div class="c-modal__content">
    <div class="c-modalCard c-modalCard--sm">
      <header class="c-modalCard__header">
        <h4 class="c-modalCard__title">Large Modal</h4>
        <a role="button" class="c-modalCard__close js-modal-close">
          <i class="i-remove"></i>
        </a>
      </header>
      <div class="c-modalCard__body">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est
        non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
        nec elit. Sed posuere consectetur est at lobortis. Aenean lacinia
        bibendum nulla sed consectetur. Integer posuere erat a ante venenatis
        dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed
        consectetur.
      </div>
      <footer class="c-modalCard__footer">
          <button type="button" class="btn js-modal-close">Close</button>
          <button type="button" class="btn btn--primary">Ok</button>
      </footer>
    </div>
  </div>
</div>

<div id="lgModal" class="c-modal" style="background-color: rgba(0,0,0,0.65)">
  <div class="c-modal__content">
    <div class="c-modalCard c-modalCard--lg">
      <header class="c-modalCard__header">
        <h4 class="c-modalCard__title">Large Modal</h4>
        <a role="button" class="c-modalCard__close js-modal-close">
          <i class="i-remove"></i>
        </a>
      </header>
      <div class="c-modalCard__body">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est
        non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
        nec elit. Sed posuere consectetur est at lobortis. Aenean lacinia
        bibendum nulla sed consectetur. Integer posuere erat a ante venenatis
        dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed
        consectetur.
      </div>
      <footer class="c-modalCard__footer">
          <button type="button" class="btn js-modal-close">Close</button>
          <button type="button" class="btn btn--primary">Ok</button>
      </footer>
    </div>
  </div>
</div>

<pre><code class="lang-html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">id</span>=<span class="hljs-string">"smModal"</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modal"</span> style=<span class="hljs-string">"background-color: rgba(0,0,0,0.65)"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modal__content"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modalCard c-modalCard--sm"</span>&gt;
      ...
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;

&lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">id</span>=<span class="hljs-string">"lgModal"</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modal"</span> style=<span class="hljs-string">"background-color: rgba(0,0,0,0.65)"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modal__content"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"c-modalCard c-modalCard--lg"</span>&gt;
      ...
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
</code></pre>


      </main>
      <!-- END #main -->
    </div>
    <!-- END .docs-l-content -->
    <footer id="colophon" class="docs-l-footer" role="contentinfo">
      <p>Designed and built by <a href="http://liuxinyu.me">moyu</a></p>
      <p>Licensed under the <a href="https://github.com/moyus/point.css/blob/master/LICENSE">MIT License</a>.</p>
    </footer>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
