<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Navbar | Point</title>
  <meta name="description" content="A flexible CSS Framework for building modern responsive web apps">
  <meta name="keywords" content="css,sass,flexbox,responsive,front-end,mobile-first,framework,web">
  <link rel="stylesheet" href="/css/point.css">
  <link rel="stylesheet" href="/css/docs.css">
  <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>
<body>
  <div id="docs" class="site">
    <header class="site-topbar">
      <nav class="navbar site-navigation">
        <div class="navbar__start">
          <a href="/" class="navbar__item navbar__brand">Point</a>
        </div>
        <!-- END .navbar__left -->
        <div class="navbar__end">
          <a href="/getting-started" class="navbar__item">Documentation</a>
          <a href="https://github.com/moyus/point" class="navbar__item">Github</a>
          <a href="http://cover.20theme.com" class="navbar__item">Cover</a>
          <div class="navbar__item">
            <a href="https://github.com/moyus/point/releases" class="btn btn--outline btn--primary">Download</a>
          </div>
        </div>
        <!-- END .navbar__right -->
      </nav>
    </header>
    <!-- END .site -->
    <div class="site-content">
      <aside class="site-sidebar">
        <nav id="sidenav" class="c-sidenav">
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Getting started</li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#introduction" class="c-sidenav__link">Introduction</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#setup" class="c-sidenav__link">Setup</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/index.html#customize" class="c-sidenav__link">Customize</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/getting-started/style-guide.html" class="c-sidenav__link">Style Guide</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Layouts</li>
    <li class="c-sidenav__item">
      <a href="/layouts/flex-grid.html" class="c-sidenav__link">Flex Grid</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/layouts/level.html" class="c-sidenav__link">Level</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Elements</li>
    <li class="c-sidenav__item">
      <a href="/elements/typography.html" class="c-sidenav__link">Typography</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/badges.html" class="c-sidenav__link">Badges</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/buttons.html" class="c-sidenav__link">Buttons</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/form.html" class="c-sidenav__link">Form</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/tables.html" class="c-sidenav__link">Tables</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/hint.html" class="c-sidenav__link">Hint</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/progress.html" class="c-sidenav__link">Progress</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/icons.html" class="c-sidenav__link">Icons</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/elements/media.html" class="c-sidenav__link">Media</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Components</li>
    <li class="c-sidenav__item">
      <a href="/components/box.html" class="c-sidenav__link">Box</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/note.html" class="c-sidenav__link">Note</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/lists.html" class="c-sidenav__link">Lists</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/navs.html" class="c-sidenav__link">Navs</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/navbar.html" class="c-sidenav__link">Navbar</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/breadcrumb.html" class="c-sidenav__link">Breadcrumb</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/pagination.html" class="c-sidenav__link">Pagination</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/dropmenu.html" class="c-sidenav__link">Dropmenu</a>
    </li>
    <li class="c-sidenav__item">
      <a href="/components/modal.html" class="c-sidenav__link">Modal</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
  <ul class="c-sidenav__group">
    <li class="c-sidenav__label">Utilities</li>
    <li class="c-sidenav__item">
      <a href="/utilities/helpers.html" class="c-sidenav__link">Helpers</a>
    </li>
  </ul>
  <!-- END .c-sidenav__group -->
</nav>

      </aside>
      <!-- END .site-sidebar -->
      <main id="main" class="site-main c-content" role="main">
        <h1 id="navbar">Navbar</h1>
<ul>
<li><a href="#basic">Basic</a></li>
</ul>
<h2 id="basic">Basic</h2>
<p>Structure:</p>
<ul>
<li><code>.navbar</code><ul>
<li><code>.navbar__start</code>, <code>.navbar__end</code><ul>
<li><code>.navbar__item</code></li>
</ul>
</li>
</ul>
</li>
</ul>
<div class="u-mb-15">
  <nav class="navbar">
    <div class="navbar__start">
        <a role="button" class="navbar__item navbar__brand">Point</a>
    </div>
    <div class="navbar__end">
      <a role="button" class="navbar__item">Home</a>
      <a role="button" class="navbar__item">About</a>
      <a role="button" class="navbar__item">Work</a>
      <a role="button" class="navbar__item">Shop</a>
      <a role="button" class="navbar__item">Blog</a>
      <a role="button" class="navbar__item">Contact</a>
    </div>
  </nav>
</div>

<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-name">nav</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__start"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item navbar__brand"</span>&gt;</span>Point<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__end"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>Home<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>About<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>Work<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>Shop<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>Blog<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"navbar__item"</span>&gt;</span>Contact<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>
</code></pre>


      </main>
      <!-- END #main -->
    </div>
    <!-- END .site-content -->
    <footer id="colophon" class="site-footer" role="contentinfo">
      <p>Designed and built by <a href="http://moyu.io">moyu</a></p>
      <p>Licensed under the <a href="https://github.com/moyus/point/blob/master/LICENSE">MIT License</a>.</p>
    </footer>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
